<div class="container" (window:resize)="getWindowSize()">
<div class="row">
  
  <div class="col-md-3">
    <!--   <nav class="d-none d-md-block bg-light sidebar ">
      <div class="sidebar-sticky filterRow">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active">
              <h6>ACCOUNT</h6><span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link navText" 
              routerLink="/account/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navText" 
            routerLink="/account/listaddress">
              Address
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link navText"
             routerLink="/account/listcard">
              Card
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link active">
                <h6>Order Details</h6><span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link navText" routerLink="/account/order">
                  Order
                </a>
              </li>
        </ul>
      </div>
    </nav> -->
    <div class="top" [ngClass]="{'topMob':displayMobile,'text-center':displayMobile}">
      <h5 class="head">My Account</h5>
    
        <a class="titleStyle"
         *ngFor="let acc of profiledetails"
           [routerLink]="acc.link"
           routerLinkActive #rla="routerLinkActive"
           >
           {{acc.name}}
        </a>
      </div>
  </div>
  <div class="col-md-9 top" [ngClass]="{'topMob':displayMobile}">
    <div class="container">
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
</div>