button{
    /* color: white; */
    padding: 12px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: auto;
    /* float: right; */
}
.box1{
    border :0.5px solid grey;
    border-radius: 10px;
  }
  .font{
  font-size: 13px;
  }
  .ifont{
      font-size: 11px !important; 
  }
  .registerButton {
    
    /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 13px;
    margin: auto;
    cursor: pointer;
    width: auto;
    background-color: #28344f;
    /* left: 28% !important; */
    position: relative;
    border-radius: 0px;
    padding: 2px;
  }