<h1>TOP SELLERS</h1>
<div class="alignNit">
    <span class="buttonS buttonU">
      <strong class="view-class">
        VIEW ALL
      </strong>
    </span>
</div>
<div class="container-fluid">
    <div class="row" style="margin-top: 20px">
        <app-carousel-item>
      <div appCarouselItem class="col-md-2 col-lg-2 col-xl-2 col-6" *ngFor='let data of image'>
          <a (click)="detailView(data._id)">
        <div>
          <img [src]="data.images" class="img-fluid">
        </div>
        </a>
      </div>
      </app-carousel-item>
    </div>
  </div>
  <br>