<button type="button" class="close" (click)="close()" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>

<div class="container">
  <h3 class="text-center">{{data.name}}</h3>
  <img [src]="this.howToMeasureUrl + data._id + '/' + data.imageName" alt="Notebook" style="width:100% ;">
  <div *ngFor="let d of data.detail">
    <h6><b>{{d.name}}</b> : {{d.detail}}</h6>

  </div>
  
</div>

