<!-- <div class="gridPrice">
  <div class="row">
    <div class="col-md-7"></div>
    <div class="col-md-5">
      <div class="line mb-1">
        <span class="text-dark">SubTotal({{totalItems}} item)</span>
        <span class="text-muted float-right">
          <h4><b><span>&#x20B9;</span>{{subTotal}}</b> </h4>
        </span>
      </div>
      <div class="dropdown-divider"></div>
      <div class="line mb-1 pt-1">
        <span>ORDER TOTAL:</span>
        <span class="text-muted float-right">
          <h4><b><span>&#x20B9;</span>{{subTotal}}</b></h4>
        </span>
      </div>
    </div>
  </div>
</div> -->
<div>
  <div class="row">
    <div class="col-md-12 col-12 optionsBorder">
      <div class="row">
        <div class="col-md-12 col-12 optionsHeader">
          <p>OPTIONS</p>
        </div>
        <div class="col-md-3 col-3 optionSubHeader">
          <p class="mt-1">Coupons</p>
        </div>
        <div class="col-md-6 col-6">
          <input type="text" style="text-transform: uppercase; height: 30px;" #coupon class="form-control">
            
        
        </div>
        <div class="col-md-3 col-3">
            <button class="applyBtn optionSubHeader pull-right" (click)="checkCoupon(coupon.value)">Apply</button>
        </div>
      </div>

    </div>
    <div class="col-md-12 col-12 optionsBorder mt-2">
        <div class="row">
          <div class="col-md-12 col-12 optionsHeader">
            <p> <strong>PRICE DETAILS</strong></p>
          </div>
          <div class="col-md-8 col-8 optionSubHeader">
            <p>Total MRP(Inclusive of all taxes)</p>
          </div>
          <div class="col-md-4 col-4 optionSubHeader">
              <b><h6 class="pull-right" >
                {{subTotal  | converter | localeCurrency}}</h6></b>
          </div>
          <div class="col-md-8 col-6 optionSubHeader" *ngIf="couponType">
            <p>Coupon Discount</p>
          </div>
          <div class="col-md-4 col-6" *ngIf="couponType === 'Flat'">
            
              <a class="pull-right optionSubHeader" >{{couponValue}} Flat</a>
              <mat-icon (click)="clearCoupon(subTotal)">clear</mat-icon>
          </div>
          <div class="col-md-4 col-6" *ngIf="couponType === 'Percentage'">
            <mat-icon (click)="clearCoupon(subTotal)">clear</mat-icon>
            <a class="pull-right optionSubHeader" >{{couponValue}} %</a>
            
        </div>
        <div class="col-md-12 col-12">
          <p class=fir *ngIf="firstPurchase==true">First purchase discount of {{couponValue}}% is applied</p>
        </div>
        <div class="col-md-8 col-8 optionSubHeader">
          <p>Shipping Fees</p>
        </div>
        <div class="col-md-4 col-4">
          <p class="pull-right" style="font-size: 13px;">{{totalShipement === 0 ? 'Free' : totalShipement  | converter | localeCurrency}}</p>
        </div>
            <div class="col-md-8 col-8 optionSubHeader">
                <p><strong>Order Total</strong></p>
              </div>
              <div class="col-md-4 col-4">
                <b> <h6 class="pull-right optionSubHeader" >
                  {{subTotal  | converter | localeCurrency}}</h6></b> 
              </div>
              
        </div>
      </div>
      <div class="col-md-12  mt-2">
          <div class="row">
              <div class="col-md-6 col-6 optionSubHeader">
                <p><strong>Total</strong></p>
              </div>
              <div class="col-md-6 col-6">
              <h6 class="pull-right optionSubHeader">
                {{totalAmount | converter | localeCurrency  }}</h6>
              </div>
            </div>
      </div>
  </div>
</div>