.filterHeader {
  padding: 13px 20px;
  font-size: 12px;
  cursor: pointer !important;
  letter-spacing: 0.1em;
  font-weight: normal;
  border-bottom: 1px solid rgb(186, 190, 192);
  text-transform: uppercase;
}
.filterBottom {
  padding: 13px 20px;
  font-size: 12px;
  cursor: pointer !important;
  letter-spacing: 0.1em;
  font-weight: normal;
  text-transform: uppercase;
}
.filterAttributeTop {
  padding: 13px 20px;
  font-size: 12px;
  cursor: pointer !important;
  letter-spacing: 0.1em;
  font-weight: normal;
}
.filterPriceDiv{
  padding: 13px 20px;
  font-size: 12px;
}

.navbar-light.navbar-nav.nav-item.textType {
  font-family: 'Montserrat-Regular' !important;
  color: #808285 !important;
}
.filterHeaderTop {
  padding: 13px 20px;
  font-size: 13px;
  cursor: pointer !important;
  letter-spacing: 0.1em;
  font-weight: normal;
  border-bottom: 1px solid rgb(186, 190, 192);
  
  text-transform: uppercase;
}
.filterHeaderTop.opened {
  padding: 13px 20px;
  font-size: 12px;
  cursor: pointer;
  letter-spacing: 0.1em;
  font-weight: normal;
  border-bottom: 1px solid rgb(186, 190, 192);
  text-transform: uppercase;
  color: #808285 !important;
  font-family: 'Montserrat-Regular';
}
.filterHeader.opened {
  padding: 13px 20px;
  font-size: 12px;
  cursor: pointer;
  letter-spacing: 0.1em;
  font-weight: normal;
  border-bottom: 1px solid rgb(186, 190, 192);
  text-transform: uppercase;
}


.nav-link {
  padding: 0 !important;
}

/* 
.filterSub {
  list-style-type: none;
  padding-left: 5px;
}
 */

 .filterSub span {
  display: block;
  padding: 10px 10px;

  line-height: 21px;

  color: #808285;

}

.filterAll {
  display: block;
  padding: 0px 2px 0px 14px;
  font-size: 12px;
  line-height: 21px;
  color: #808285;
  font-family: 'Montserrat-Regular';
}

.filterAttribute {
  display: block;
  padding: 1px;
  font-size: 12px;
  line-height: 21px;
  color: #808285;
  font-family: 'Montserrat-Regular';
}

.displayNone {
  display: none;
}

.filterSub {
  max-height: 0px;
  overflow: hidden;
  line-height: 21px;
  list-style-type: none;
  padding: 0 5px 0px 5px;
  cursor: pointer;
  transition: 0.4s;
}

.paddingDiv:focus {
  outline: 0;
}

.filterSub.closed {
  max-height: 0;

  border-bottom-width: 0;
}
.filterSubAttribute{
  padding: 0 5px;
  transition: ease-in-out 600ms max-height;
}
.filterSub.opened {
  overflow-y: auto;

  max-height: 200px;
  padding: 0 5px;
  border-bottom: 1px solid rgb(186, 190, 192);
  transition: ease-in-out 600ms max-height;
}

.filterCount {

  font-size: 11px;
  letter-spacing: 0.025em;
  color: #999;

}


.material-icons {

  font-family: "Material Icons";
  font-weight: 200 !important;
  font-style: normal;
  font-size: 17px !important;
  line-height: 1;
  text-transform: none;
  letter-spacing: 1;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  /* background: #d3d3d3; */
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.rangeBox {
  /* carry complete  range box*/
  width: 200px;
  height: 100px;
  z-index: 10;

}

.sliderBox {
  position: relative;
  top: 0%;
  width: 200px;
  z-index: 10;
  left: 0px;
  /*2x width*/
}

.slider0to50 {
  width: 40%;
  /*1x width*/
  position: absolute;

}

.slider51to100 {
  width: 40%;
  /*1x width*/
  position: absolute;
}

.inputRange {
  position: relative;
  top: 20%;

}


.inputRange::after {
  content: "";
  clear: both;
  display: block
}

.inputRange .min {
  width: 30%;
  float: left;
  color: #808285;
}

.inputRange .centerText {
  width: 10%;
  float: left;
  text-align: center;
  font-family: 'Montserrat-Regular';
}

.inputRange .max {
  width: 30%;
  float: right;
  color: #808285;
}

.filterPrice {
  max-height: 240px;
  overflow: hidden;
  line-height: 21px;
  list-style-type: none;
  padding: 0 5px 0px 5px;
  cursor: pointer;
  transition: 0.4s;
}

.hideme {
  display: none !important;
}

.range-slider {
  position: relative;
  top: -10px;
  width: 100%;
  height: 35px;
  text-align: center;
}

.range-slider input {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 15px;
  width: 100%;
  outline: none;
  height: 18px;
  margin: 0;
  padding: 0;
}

.range-slider input::-webkit-slider-thumb {
  pointer-events: all;
  position: relative;
  z-index: 1;
  outline: 0;
}

.range-slider input::-moz-range-thumb {
  pointer-events: all;
  position: relative;
  z-index: 10;
  -moz-appearance: none;
  width: 9px;
}

.range-slider input::-moz-range-track {
  position: relative;
  z-index: -1;
  /* background-color: rgba(0, 0, 0, 1); */
  border: 0;
}

.range-slider input:last-of-type::-moz-range-track {
  -moz-appearance: none;
  background: none transparent;
  border: 0;
}

.range-slider input[type=range]::-moz-focus-outer {
  border: 0;
}

.rangeValue {
  width: 30px;
}

.output {
  position: absolute;
  border: 1px solid #999;
  width: 55px;
  padding: 0 10px;
  height: 30px;
  text-align: center;
  color: #999;
  border-radius: 4px;
  display: inline-block;
  font: bold 15px/30px Helvetica, Arial;
  bottom: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.color-wrapper {
  display: flex;
  height: 250px;
}

.input-wrapper {
  margin-top: 16px;
  display: flex;
  border-radius: 1px;
  border: 1px solid rgb(220, 220, 220);
  padding: 8px;
  height: 32px;
  justify-content: center;
}

.colour-colorDisplay {
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
}

.colour-listItem {
  display: block;
  position: relative;
  margin: 0 10px 0 0;
  margin-bottom: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.color-div {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid rgb(220, 220, 220);
}

.text {
  flex: 1;
  line-height: 32px;
}

.output.outputTwo {
  left: 100%;
}

input[type=range] {
  -webkit-appearance: none;
  background: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 5px;
  border: none;
  border-radius: 3px;
  background: transparent;
}

input[type=range]::-ms-track {
  height: 5px;
  background: transparent;
  border: none;
  border-radius: 3px;
}

input[type=range]::-moz-range-track {
  height: 5px;
  background: transparent;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #000000;
  margin-top: -5px;
  position: relative;
  z-index: 10000;
}

input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #000000;
  margin-top: -5px;
  position: relative;
  z-index: 10000;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #000000;
  margin-top: -5px;
  position: relative;
  z-index: 10000;
  cursor: pointer;
}

input[type=range]:focus {
  outline: none;
}

.full-range,
.incl-range {
  width: 100%;
  height: 5px;
  left: 0;
  top: 21px;
  position: absolute;
}

.incl-range {
  background: #cccccc;
}
