<form  [formGroup]="signInForm"  (window:resize)="getWindowSize()" novalidate >
  <div class="container">
  <div class="row" (window:resize)="getWindowSize()">
<mat-card class="col-sm-12" [ngClass]="{'mat-cardMob':showMobileView}">
<img src="../../../assets/images/logo/Zinc Cotton Logo (1).png" class="img-fluid">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="row registerSetup">
        <div class="col-md-12 col-sm-12">
          <mat-form-field>
            <mat-label>Email-Id</mat-label>
            <input matInput placeholder="Email-Id" formControlName="emailId" required>
              <mat-icon matSuffix mat-icon-button aria-label="Email-Id">emailId</mat-icon>
            <mat-error *ngIf="signInForm.controls['emailId'].errors?.required">
                Email-Id is
                <strong>required</strong>
              </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" formControlName="password" 
            [type]="showPassword ? 'text': 'password'" required>
              <mat-icon matSuffix mat-icon-button aria-label="Password" (click)="checkPassword()">remove_red_eye</mat-icon>
            <mat-error *ngIf="signInForm.controls['password'].errors?.required">
              Password is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <div *ngIf ="pwdError === true"><p style="color: red">Invalid Account</p></div>
          <button class="registerButton" mat-raised-button  color="primary" type="submit" [ngClass]="{'regButtonMob':showMobileView}">Login</button>
        </div>
      </div>
    </div>
  </mat-card>
  </div>
  </div>
</form>