<!-- <div [ngClass]="zoom?.displayClass" class="zoomPop"></div>
<div [ngClass]="zoom?.displayClass" class="zoomPop" tabindex="-1" style="overflow: hidden auto;">
  <div class="row m-4">
    <button (click)="closed()" type="button" class="zoomClose">×</button>
  </div>

  <app-carousel-item>
    <div appCarouselItem class="zoomScaler col-md-12 col-12"
     *ngFor="let image of zoom?.imageUrl">
      <img class="image-fluid" [src]="image">
    </div>
  </app-carousel-item>

</div> -->

<!-- <div class="container pt-5">
    <div class="row">
            <div class="col-md-4">
                    <img class="img-fluid" 
                     [src]="showImage">
            </div>
          </div>
<div class="form-group">
<label for="file">Images</label>

<input type="file" id="file" (change)="handleFileInput($event.target.files)">

<button mat-raised-button  (click)="uploadBanner()" color="accent">Save</button>
</div>
<div class="row">
<div class="col-md-4" *ngFor="let filePath of bannerAll" >
  <h4>Images</h4>
        <button mat-icon-button mat-sm-button color="primary"
        (click)="deleteSingleBanner(filePath)">
             <mat-icon>clear</mat-icon>
           </button>
  <img class="img-fluid" [src]="filePath.bannerImage">
</div>
</div>
</div>
<div class="row">
  <div class="col-md-4">
          <img class="img-fluid" 
           [src]="bannerTest.Location">
  </div>
</div> -->