<div (window:resize)="getWindowSize()">
  <div class="row" *ngIf="displayMobile === false">
    <div class="col-md-12">
      <div class="ctrlAll1 backg">
        <div class="text-center" style="justify-content: center">
          <p style="color: black;" class="mt-2"><b style="font-size:14px">Free Shipping Across India</b></p>
          <hr color="#29495B">
          <div class="centerCol shaP">
            <p *ngIf="isLowQuantity && !isEmptyQty" style="color: red;">
              Only {{this.productModel.quantity}} Available
            </p>
            <p *ngIf="isEmptyQty && !isNonZero" style="color: red;">
                Out of Stock
              </p>
            <div class="form-group shaP cen">

              <button mat-stroked-button [disabled]="isNotAvailable || isEmptyQty" (click)="addToCartItem(productModel?._id)" class="addToCartButton">Add to
                Bag</button>
            </div>
          </div>
          <div class="leftCol shaP">
            <div class="form-group">
              <button mat-stroked-button style="color:#29495B" (click)="checkLoginUser(productModel)">
                <mat-icon [ngClass]="{'changeMatIcon': productModel?.wishList}">favorite</mat-icon>Add to Wishlist
              </button>
            </div>
          </div>
          <hr color="#29495B">
          <div>
            <p style="color: black;" class="mt-2">Check Delivery Options</p>

            <input type="text"> <button class="btn btn-default">Check</button>
          </div>
          <hr color="#29495B">
          <div> <b> Estimated Shipping:{{ myDate | date}} </b></div>

        </div>
      </div>
    </div>
  </div>
  <div class="row checkout_button" (window:resize)="getWindowSize()" *ngIf="displayMobile === true">
     
          <div class="form-group wish">
            <button mat-stroked-button style="color:#29495B" (click)="checkLoginUser(productModel)">
              <mat-icon class="mx-auto" [ngClass]="{'changeMatIcon': productModel?.wishList}">favorite</mat-icon> </button>
          </div>
        
    <button mat-stroked-button  [disabled]="isNotAvailable || isEmptyQty"  (click)="addToCartItem(productModel?._id)" class="addC">Add to Bag</button>

</div>

</div>