.header-text{
    font-family: 'Ubuntu', sans-serif;
  }
.readmore-button{
    background-color: #333333;
    color: #fff;
    height: 33px;
    font-size: 10px;
    font-family: 'Libre Baskerville', serif;
}
.blog-text{
  font-size: 13px;
  font-family: 'Libre Baskerville', serif;

}

.newsImg{
    width: 100%;
    height: 250px !important;
    box-shadow: 0 1px 5px 0 #00000063, 0 1px 2px 0 rgba(0, 0, 0, .19);
}
.badge-inner{
    
    width: 50px; 
   
    position: absolute;
    top: 20%;
    left: 10%;
    transform: translate(-50%, -50%);
    color: rgba(1, 126, 228, 0.89);
}
.post-date-day{
  
    font-size: 12px;
    font-weight: bolder;
    padding: 2px;
}
.productBox:hover {
    box-shadow: 0 4px 8px 0 rgba(68, 67, 67, 0.2), 0 6px 20px 0 rgba(68, 67, 67, 0.2);
    height: 98%;
}
.is-xsmall{
   
    font-size: 12px;
    font-weight: bolder;
}
.newsLaters{
    font-size: 20;
    line-height: 1.3;
    margin-top: .1em;
    margin-bottom: .1em;
    color: #555;
    margin-top: 7px;
    text-align: center;
    /* font-family: 'experts'; */
}
.newsLine{
    font-size: 18;
    line-height: 1.3;
    margin-top: .1em;
    margin-bottom: .1em;
    color: #929599;
    margin-top: 10px;
    text-align: center;
    /* font-family: 'experts' !important; */
}
.comment{
    font-size: 14;
    text-align: center;
    margin-top: 5px;
    color: #858586;
    /* font-family: 'experts' !important; */
}

.daTz{
    background: #000;
    border-radius: 0px;
}
.gridSpace{
    margin-top: 30px !important;
    margin-bottom: 0px !;
}

/* ============================================================================ */


.img-fluid{
margin-top: 30px;
height:350px!important;
width: 100%;
box-shadow: 0 1px 5px 0 #00000063, 0 1px 2px 0 rgba(0,0,0,.19);
cursor: pointer;
}

/* zoomong is */
.box{
    text-align: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.438);
    overflow: hidden;
    position: relative;
}
.box img{
    width: 100%;
    height: auto;
    transition: all 0.5s ease 0s;
}
.box:hover img{
    transform: scale(1.2);
    filter: grayscale(100%);
}
.box .box-content{
    width: 95%;
    height: 95%;
    background: rgba(0, 0, 0, 0.568);
    padding: 18% 10px 0;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.box:hover .box-content{ opacity: 0; }
.box .title{
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0 0 10px;
}
.box .post{
    display: block;
    font-size: 16px;
    font-style: italic;
    color: #daa520;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.box .icon{
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    top: 30%;
}
.box .icon li{ display: inline-block; font-size: 18px !important; color: white  }
.box .icon li a{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color: #fff;
    margin-right: 11px;
    position: relative;
    transform: rotate(-45deg);
    transition: all 0.4s ease-in-out;
}
.box .icon li a:hover{ background: #daa520; }
.box .icon li a span{ display: block; }
.box .icon li a span i{ transform: rotate(45deg); }
.box .icon li a:before,
.box .icon li a:after,
.box .icon li a span:before,
.box .icon li a span:after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.4s ease-in-out 0s;
}
.box .icon li a span:before{
    left: auto;
    right: 0;
}
.box .icon li a span:after{
    top: auto;
    bottom: 0;
}
.box .icon li:nth-child(2) a:before,
.box .icon li:nth-child(2) a:after,
.box .icon li:nth-child(2) a span:before,
.box .icon li:nth-child(2) a span:after{ transition-delay: 0.2s; }
.box:hover .icon li a:before,
.box:hover .icon li a span:before{
    width: 3px;
    height: 100%;
}
.box:hover .icon li a:after,
.box:hover .icon li a span:after{
    width: 100%;
    height: 3px;
}
@media only screen and (max-width:990px){
    .box{ margin-bottom: 30px; }
}

.fa-3x{
    color: white;
    padding: 5px;
   
}

.gridSpace{
    margin-top: 40px;
}

.moveUp 
{
  position: fixed;
  bottom: 5px;
  right: 5px;
  font-size: 20px;
  text-align: center;
  outline: none;
  border-radius: 0px;
  background: black;
  border-radius: 50%;
}
/* ============= */

.mat-card{
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.07);
}
.mencol {
    font-weight: lighter !important;
    font-size: 19px;
    font-family:'Montserrat-Regular'; 
    margin-bottom: 20px
}
.gridnair{
    margin-top: 40px;
}
.productName
{
    font-family:'Montserrat-Light';   
    font-size: 12px !important;
}
/* .contentType {
    overflow: hidden;
    height: 500px;
} */
