<div class="contaier container-1" (window:resize)="getWindowSize()">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-12">
      <h4 style="text-align: center; padding: 20px;"> Contact Us
        </h4></div>

    <div class="col-sm-6 co-md-6 col-6" *ngIf="!showMobileView">
      <img src="../../../assets/images/letter.jpg" class="img-responsive cen">
    </div>
    <div class="col-sm-6 co-md-6 col-12  ">
      <form [formGroup]="contactForm">
        <mat-form-field>
            <input matInput formControlName="Name" placeholder="Name" class="box">
          </mat-form-field>

          <mat-form-field>
              <input matInput formControlName="email" placeholder="Email" class="box">
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="mobile" placeholder="Mobile Number" class="box">
              </mat-form-field>
        
          <mat-form-field>
            <textarea matInput formControlName="Message" placeholder="Message" class="box"></textarea>
          </mat-form-field>
          <button mat-button (click) = "onSubmit()">Submit</button>
          </form>
    </div>

</div>
</div>