::ng-deep .snackbar{
    /* top:50%; */
    margin-left: 300px !important;
    margin-bottom: 300px !important; 
    /* background-color: blue; */
}
/* ::ng-deep .c1{
    margin-top: 20px;
    width: 300px;
    height: auto;
   margin:auto;
  } */
.container-1{
    margin-top: 30px;
    padding:50px;
}
/* .box{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
} */
.cen{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
}
button{
    /* color: white; */
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* float: right; */
}