<h6 class="text-center">Your form has been submitted</h6>

<mat-dialog-content>

<p class="text-center"> We will get back to you soon</p>
</mat-dialog-content>

<mat-dialog-actions>
    <button  (click)="close()">Close</button>
</mat-dialog-actions>