.productName{
    color: black;
}

.grumpy-image-wrapper {
    width: 100%;
    height: 0;
    padding-bottom: 144.7%;
    border: 2px solid white; /* simply to show you the collapsed state for this demo */
  }
  .grumpy-image {
    width: 100%;
  }
  .discountcount{
    display: block !important;
    font-size: 13px;
    position: absolute !important;
    bottom: 88%;
    margin-left: 4%;
    color: #fff;
  }
  .discountcountMob{
    display: block !important;
    font-size: 10px;
    position: absolute !important;
    bottom: 82%;
    margin-left: 3%;
    color: #fff;
  }
  .discountcountoff{
    display: block !important;
    font-size: 11px;
    position: absolute !important;
    bottom: 85%;
    margin-left: 7%;
    color: #fff;
  }
  .discountcountoffMob{
    display: block !important;
    font-size: 8px;
    position: absolute !important;
    bottom: 78%;
    margin-left: 6%;
    color: #fff;
  }
  .imgleaf {
    display: block !important;
    height: 16% !important;
    position: absolute !important;
    top: 0;
    width: 19% !important;
  }
  