<!-- <div style="margin-left:78px;margin-top: 10px;" *ngIf='!showMobileView1'><br><br>
  <app-breadcrumb [mainCatName]="breadCrumbDetails?.mainCategoryName" [mainCatId]="breadCrumbDetails.mainCategoryId"
    [supCatId]="breadCrumbDetails.superCategoryId" [superCatName]="breadCrumbDetails.superCategoryName"
    [subCatName]="breadCrumbDetails.subCategoryName" [productName]="breadCrumbDetails?.productName"
    *ngIf="!showMobileView1 === false"></app-breadcrumb>
</div> -->
<!-- <div style="margin-left:78px;margin-top: 10px;" *ngIf='!showMobileView1'><br><br>
   <a >Home </a> >
   <a> Cotton</a>
</div> -->
<div class="row">
  <div class="col-md-6">
    <app-product-image [productModel]="productModel" (clickOnImage)="clickSelectedImgeZoom($event)"
      [productImageUrl]="productImageUrl" [productModelImage]="productModel?.productImage">
    </app-product-image>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <app-product-title [productModel]="productModel"></app-product-title>
      </div>
      <div class="col-md-8">
          <app-product-single-details [sizeData]="sizeData" (selectedService)="getSelectedService($event)"
          [measurementData]="measurementData" [isMeasurementApply]="isMeasurementApply"
          [isBlouse]="isBlouse" [isKameez]="isKameez" [isLehenga]="isLehenga"
          [readyToWearholder]="readyToWearholder" (addTocart)="selectedItems($event)" [productModel]="productModel">
        </app-product-single-details>

        <app-size-variant [isSizeGuide]="isSizeGuide" [sizeData]="sizeData" [howToMeasureData]="howToMeasureData"
          *ngIf="productModel?.variationType === 'Size'" [productModel]="productModel"
          [availableBodyHeight]="availableBodyHeight" [isBodyHeight]="isBodyHeight"
          (bodyHeight)="selectedHeight($event)"
          (selectedVariant)="selectData($event)" [selectedSize]="selectedSize">
        </app-size-variant>
        <app-color-variant *ngIf="productModel?.variationType === 'Color'" 
        [productModel]="productModel"
          (selectedVariantColor)="selectData($event)" 
          [selectedSize]="selectedSize">
        </app-color-variant>
        <!-- {{product | json}} -->
        <!-- <app-size-color-variant  [productModel]="productModel"
        (selectedVariantSizeColor)="selectSizeColorData($event)"
          *ngIf="productModel?.variationType === 'SizeColor'" 
          [selectedSize]="selectedSize"
          [color]="selectedColorCategory">
        </app-size-color-variant> -->


        <app-dynamic-attribute *ngIf="attributeLength > 0" [attribute]="attribute">
        </app-dynamic-attribute>
        <!-- <br> -->
        <app-inquiry [note]="note"></app-inquiry>
      </div>
      <div class="col-md-4">
        <!--      <app-none-variant [productModel]="productModel"
          (addTocart)="selectedItems($event)">

            </app-none-variant> -->
        <!-- <app-add-to-cart [productModel]="productModel"
         (moveToWishlist)="addToWishList($event)" [isNotAvailable]="isNotAvailable" [isNonZero]="isNonZero"
         (addTocart)="selectedItems($event)" [isEmptyQty]="isEmptyQty" [isLowQuantity]="isLowQuantity"> 

        </app-add-to-cart> -->
      </div>

    </div>

  </div>

  <!-- <div class="col-md-12 backColor">
      <app-product-details-tab [productImageUrl]="productImageUrl" 
      [productModel]="productModel">
      </app-product-details-tab>
    </div> -->
  <!-- 
    (selectProduct)= "viewSelectedProduct($event)"
    (selectedProductcart)="viewSelectedProductCart($event)" (wishListData)="addToWishList($event)" -->
  <div class="col-md-12 topSize">
    <!-- <app-similar-product [recentPrdouctData]="recentPrdouctData" [productModel]="productModel"
       [brandProductData]="brandProductData" [showRecent]="showRecent"
      
      [productImageUrl]="productImageUrl"></app-similar-product>
    </div> -->
    <!-- <div class="col-md-12">
      <hr>
      <app-product-review [reviewData]="reviewData" [totalRating]="totalRating"></app-product-review>
    </div> -->
  </div>
  <div class="col-md-12">
    <!-- <app-product-zoom [productModel]="productModel" [slideIndex]="sildeIndex" [zoom]="zoom"></app-product-zoom> -->
  </div>
  <!-- <div class="col-md-12 col-12">
    <app-you-may-also-like-page [alsoModel]="alsoModel" 
    [productImageUrl]="productImageUrl">
    </app-you-may-also-like-page>
  </div> -->
  <div class="col-md-12 col-12">
    <app-recently-view [recentPrdouctData]="recentPrdouctData"></app-recently-view>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4 col-8">
          <div class="form-group mt-3">
            <!-- <a class="abtn"> Sign up for the latest updates</a> -->
          </div>
        </div>
        <div class="col-md-4 col-2">

        </div>
        <div class="col-md-4 col-2">
          <!--      <div class="form-group float-right mt-3">
            STORES
          </div> -->
        </div>
      </div>
    </div>
  </div>