

.upstAdd{
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid gray;
    padding: 20px;
    background: rgb(241, 241, 241);
    margin-top: 10px;
}

.btn {
  display: block;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
  border: none; 
  /* padding: 10px 5px 5px 5px; */
  background-color: #28334f;
  height: 40px;
  width:100%;  
  letter-spacing: 0.1em;
}
.spaceCtrl{
    margin-top: 20px;
}
.wholeCtrl{
    background: rgb(241, 241, 241);

}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
  -moz-appearance: textfield;
}
.fontSty {
  font-family: 'HelveticaNeue';
}
mat-form-field.mat-form-field {
  font-family: 'HelveticaNeue';
}
