.row{
    box-shadow: 0 1px 52px 0 #00000033, 0 1px 2px 0 rgba(0, 0, 0, .19);
    padding: 30px;
}
button{
    
      /* Green */
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: block;
      font-size: 16px;
      margin: auto;
      cursor: pointer;
      width: 220px;
      /* left: 28%; */
      position: relative;
      border-radius: 0px;
      padding: 10px;
      background-color: #2d2d2d;
}