<!-- <div class="container gridSpace">
    <h1 style="text-align: center;">
        <button mat-raised-button color="warn" style="background: black; border-radius: 0px; color: white">
            FOLLOW US
            <i class="fa fa-instagram insTA" aria-hidden="true"></i>
        </button>
      </h1>
  <div class="row">
      <div appCarouselItem class="col-md-3 col-lg-3 col-xl-3 col-6 gridCtrl">
          <div class="threeCtrl">
            {{instaImages.data[0].images.low_resolution.url | json}}
          <img src=instaImages.data[0].images.low_resolution.url class="img-fluid">
          <div class="overlay">
              <div class="text">
                      <button mat-fab color="warn" class="iconInsta">
                  <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
              </button>
              </div>
          </div>
          </div>
      </div>
      <div appCarouselItem class="col-md-3 col-lg-3 col-xl-3 col-6 gridCtrl">
        <div class="threeCtrl">
          <img src="../../../assets/images/News latter/47.jpg" class="img-fluid">
          <div class="overlay">
              <div class="text">
                      <button mat-fab color="warn" class="iconInsta">
                  <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
              </button>
              </div>
          </div>
        </div>
      </div>
      <div appCarouselItem class="col-md-3 col-lg-3 col-xl-3 col-6 gridCtrl">
        <div class="threeCtrl">
          <img src="../../../assets/images/News latter/45.jpg" class="img-fluid">
          <div class="overlay">
              <div class="text">
                      <button mat-fab color="warn" class="iconInsta">
                  <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
              </button>
              </div>
          </div>
        </div>
      </div>
      <div appCarouselItem class="col-md-3 col-lg-3 col-xl-3 col-6 gridCtrl">
        <div class="threeCtrl">
          <img src="../../../assets/images/News latter/44.jpg" class="img-fluid">
          <div class="overlay">
              <div class="text">
                      <button mat-fab color="warn" class="iconInsta">
                  <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
              </button>
              </div>
          </div>
        </div>
      </div>
  </div>
</div> -->

  <div class="container gridSpace" >
      <!-- <h1 style="text-align: center;font-family: HelveticaNeue" >
          <button mat-raised-button color="warn" style="background: black; border-radius: 0px; color: white">
              FOLLOW US
              <i class="fa fa-instagram insTA" aria-hidden="true"></i>
          </button>
        </h1>
        <br> -->
      <!-- <div class="row " >
        <app-carousel-item>
          <div appCarouselItem class="col-md-2 col-lg-2 col-xl-2 col-6 spc" *ngFor="let data of instaImages?.data">
            <img [src]="data?.images?.low_resolution?.url" class="imgBannerss" >
          </div>
        </app-carousel-item>
      </div> -->
      <div class="mx-auto mb-2" style="width: 60%;">
        <div class="row">
          <div class="col mid1" [ngClass]="{'mid1Mob':showMobileView}">
          <div class="mid" [ngClass]="{'midMob':showMobileView}" *ngFor="let data of track">
            <img [src]="data.image" class="iconStrip" [ngClass]="{'iconStripMob':showMobileView}">
            <p class="text-center" *ngIf="!showMobileView">{{ data.msg }}</p>
          </div>
        </div>
      </div>
      <div class="container" >
        
      </div>
</div>


