<div class="container" >
      <table class="table table-borderless " *ngIf ="!showNoData">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Measurement Name</th>
            <th scope="col">createdDate</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let data of holder; let i = index">
          <tr>
            <th scope="row">{{i + 1}}</th>
            <td>{{data.measurementName}}</td>
            <td>{{data.addedDate | date}}</td>
            <td><div class=" vcenter form-group">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
            <mat-menu #menu="matMenu">
                <a class="nav-link selectCursor" (click)="getView(data._id)">View</a>
                <a class="nav-link selectCursor" (click)="deleteMeasurement(data._id)"> Delete</a>
              <!-- <a class="nav-link selectCursor" (click)="editSuperCategory(element._id)" >Edit</a>
              <a class="nav-link selectCursor" (click)="openDialog(element)">Delete</a> -->
            </mat-menu>
          </div></td>
          </tr>
        
        </tbody>
      </table>
   
</div>
<div *ngIf="showNoData" class="nodata"> 
    No results found</div>