<!-- <div class="nav-item  filterAttributeTop" *ngFor="let attributeMain of attributeModel">
  <a class="nav-link">{{attributeMain.fieldName | titleCase | titlecase}}</a>
  <ul class="filterSubAttribute" *ngFor="let sub of attributeMain?.fieldValue">
    <li class="form-check pt-1">
      <label class="filterAttribute">
        <input class="form-check-input"  [checked]="sub?.correct"
        (change)="onChangeVariant(attributeMain._id, $event.target.value, $event.target.checked)" 
        type="checkbox" [value]="sub._id"
        >
        {{sub.fieldAttributeValue}}
      </label>
    </li>
  </ul>
</div> -->
<nav class="navbar-light">
  <ul class="navbar-nav">
    <!-- <div *ngFor="let data of selectedValue">
      
          {{data}}
          
        </div> -->
    <li class="nav-item" *ngFor="let attributeMain of attributeModel">
      <div class="categoryFilterFields"  [class.open]="attributeMain?.openDiv">
        <div class="categoryFilter" (click)="openAccordian(attributeModel, attributeMain._id)" >
          {{attributeMain.fieldSetting === 'Color' && 'Size' ? attributeMain.fieldSetting :  attributeMain.fieldName | titleCase | titlecase}}
        </div>
        <!-- <div class="categoryFilter" (click)="openAccordian(attributeModel, attributeMain._id)" *ngIf="attributeMain.fieldSetting === 'PlusSize'">
          {{attributeMain.fieldSetting}}
        </div> -->
        <!--  <div class="list" *ngFor="let sub of attributeMain?.fieldValue">
      {{sub.fieldAttributeValue}}
  </div> -->
        <ul class="list">
          <li class="form-check pt-1" *ngFor="let sub of attributeMain?.fieldValue">
            <label class="filterAttribute">
              <input class="form-check-input" [checked]="sub?.correct"
                (change)="onChangeVariant(attributeMain._id, $event.target.value, $event.target.checked)" type="checkbox"
                [value]="sub._id">
              <!-- {{sub.fieldAttributeValue}} -->
              <!-- <mat-checkbox class="form-check-input"  (change)="onChange(col, $event.target.checked)" type="checkbox" style="color: green "></mat-checkbox> -->
              <!--  <input class="form-check-input" [checked]="sub?.correct"
            (change)="onChangeVariant(attributeMain._id, $event.target.value, $event.target.checked)" type="radio"
            (click)="closeFunc()" [value]="sub._id"> -->
            <!-- <span *ngIf="attributeMain?.fieldName == 'color'" class="text p-2"
            [ngStyle]="{'background-color': sub.colorCode}"> -->
            <!-- {{attributeMain?.fieldValue | json}} -->
            <!-- {{sub.colorChoose | json}} -->
            <span *ngFor="let data of sub.colorChoose">
            <span *ngIf="attributeMain?.fieldSetting === 'Color'"><i class="fa fa-circle filterCircle"  [ngStyle]="{'color': data}"></i></span></span>
             {{sub.fieldAttributeValue | titlecase}} 
              <!-- </span> -->
              
            </label>
          </li>
        </ul>
<!-- <div *ngFor="let data of fieldAttributePush.fieldValue">
{{data}}
</div> -->
<!-- <div >
    {{fieldAttributePush.fieldValue}}
</div> -->
        <!-- <mat-form-field class="example-chip-list">
            <mat-chip-list #chipList aria-label="Fruit selection">
              <mat-chip *ngFor="let sub of attributeMain?.fieldValue" [selectable]="selectable"
                       [removable]="removable" (removed)="remove(fruit)">
                       {{sub.fieldAttributeValue}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input class="form-check-input" [checked]="sub?.correct"
              (change)="onChangeVariant(attributeMain._id, $event.target.value, $event.target.checked)" type="checkbox"
              [value]="sub._id"
                     [matChipInputFor]="chipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
          </mat-form-field> -->





      </div>
    </li>

  </ul>
</nav>