<div class="container form-group">
    <!--   <div class="sizeGuide pull-right">  
      <a (click)="getPopUp()">Size Guide</a>
     </div> -->
    <!-- <div class="sizeText ">
       Select size
     </div> -->
     <!-- <div class="text-danger" [hidden]="!selectedSize">
        <p>Please select a size</p>
      </div>
    <div class="sizeList" [ngClass]="{'shakeit':selectedSize==true}" tabindex="1" #foc>
   
      <button mat-stroked-button type="button"
      (click)="sizeSelect(size)" 
      [ngClass]="{ 'itemSelected': size === selectedItem, 'sizeItem': size !== selectedItem,
      'itemEmptyStock': size.quantity === 0 }" *ngFor="let size of productModel?.child"
        [disabled]="size.quantity === 0" class=" btn btn-default">{{size.sizeVariant}}</button>
  
    </div> -->
    <div class="row">
      <div class="col-md-12">
          <div class="text-danger" [hidden]="!selectedSize">
              <p>Please select a size</p>
            </div>
          <div class="sizeList" [ngClass]="{'shakeit':selectedSize==true}" tabindex="1" #foc>
    <mat-form-field appearance="outline">
      <mat-label>Please Select a Size</mat-label>
      <mat-select name="size" [(value)]="selected" (selectionChange)="sizeSelect(selected)" required>
        <mat-option  [ngClass]="{ 'itemSelected': size === selectedItem, 
        'itemEmptyStock': size.quantity === 0 }" *ngFor="let size of productModel?.child" [value]="size">
          {{size.sizeVariant}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    </div>
    </div>
    <!-- <p>{{selected}}</p> -->

    
   <div class="col-md-12">
     <div class="row">
       <div class="col-md-3">
          <div *ngIf="isSizeGuide" >
              <p class="linK colr" (click)="getSizeChart(sizeData)">Size Chart</p>
            </div>
       </div>
       <div class="col-md-4 colr"><p class="linK" (click)="getHow(howToMeasureData)">How To Measure</p></div>
     </div>
    
    </div>
    <div class="col-md-12" *ngIf="isBodyHeight">
     <!--  <div class="text-danger" [hidden]="!selectedSize">
          <p>Please select a size</p>
        </div> -->
      <div class="sizeList" [ngClass]="{'shakeit':selectedSize==true}" tabindex="1" #foc>
<mat-form-field appearance="outline">
  <mat-label>Please Select a Height</mat-label>
  <mat-select name="size" [(value)]="selectedHeight" (selectionChange)="heightSelect(selectedHeight)" required>
    <mat-option   *ngFor="let height of availableBodyHeight?.height" [value]="height">
      {{height}}
    </mat-option>
  </mat-select>
</mat-form-field>
</div>
</div>
    
  </div>
  </div>