.collEct {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  color: rgb(37, 37, 37);
  font-family: 'Expert Sanszz' !important;
  background: rgb(165, 165, 165);

}
.mid1{
  display: flex;
  justify-content: center;
}
.mid{
  margin-left: auto;
  margin-right: auto;
  display: block;
}


.comFort {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  color: rgb(37, 37, 37);
  font-family: 'Expert Sanszz' !important;
  background: rgb(165, 165, 165);

}

.horiZons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  color: black;
  font-family: 'Futura Book' !important;
  background: rgb(165, 165, 165);
  font-size: 15px;
  letter-spacing: 1.2px;
  border-radius: 0px;
  height: 35px;
  
}

.horiZons:hover{
  background: black;
  color: rgb(165, 165, 165);
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}

.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}


/* ============================================================= */

.box{
  text-align: center;
  position: relative;
}
.box:before{
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.205) 0%, rgba(0, 0, 0, 0.479) 100%);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease 0s;
}
.box:hover:before{ opacity: 1; }
.box img{
  width: 100%;
  height: auto;
}

.newOne{
  box-sizing: border-box;
  width: auto;
}
.spaceCtrl{
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-transition: all 0.5s ;
  backface-visibility:inherit;
}
.spaceCtrl:hover .horiZons {
  opacity: 1;
}
.img-content {
  transition: transform .4s;
  width: 100%;
  height:auto;
  margin: 0 auto;
  max-height: 220px !important;

}

.img-content:hover  {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}

/* ============================= */
.boxp{
  text-align: center;
  overflow: hidden;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
  position: relative;
}
.boxp:before,
.boxp:after{
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease 0s;
}
.boxp:after{
  background: #ffffff1e;
  opacity: 1;
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0px, -100%, 0px);
  transition: transform 0.6s ease 0s;
}
.boxp:hover:before{ opacity: 1; }
.boxp:hover:after{ transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0px, 100%, 0px); }
.boxp img{
  width: 100%;
  height: auto;
}
.boxp .box-contentp{
  width: 100%;
  height: 100%;
  padding-top: 27%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s ease 0s;
}
.boxp:hover .box-contentp{ opacity: 1; }
.boxp .titlep{
  display: block;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 10px;
}
.boxp .postp{
  display: block;
  font-size: 15px;
  font-weight: 600;
  font-style: italic;
  color: #fff;
}
.boxp .iconp{
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
}
.boxp .iconp li{ display: inline-block; }
.boxp .iconp li a{
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  font-size: 18px;
  color: #000;
  margin-right: 10px;
  transition: all 0.3s ease 0s;
}
.boxp .iconp li a:hover{ border-radius: 50%; }
@media only screen and (max-width:990px){
  .spaceCtrl{
    position: relative;
    overflow: hidden;
    margin-bottom: 0px;
    cursor: pointer;
    -webkit-transition: all 0.5s ;
    backface-visibility:inherit;
  }
  .img-content {
    max-width: 100% ! important;
    height:auto !important;
box-shadow: 0 1px 5px 0 #00000063, 0 1px 2px 0 rgba(0,0,0,.19);
  }
  .boxp{ margin-bottom: 10px; }
  .gridSpace{
    margin-top: 0px !important;
  }
}
.gridSpace{
  margin-top: 40px;
  padding-left: 0px;
  padding-right: 0px;
}
.img {
  
  width: 542px;
  height: 262px;
 
}
.imgMob{
  width:360px;
  height: 150px;
}
/* .imgMob1{
  width:360px;
  height: 150px;
} */
.spAcE {
  padding-left: 0px;
  padding-right: 0px;

}
.space {
  margin-left: auto;
  margin-right: auto;
}
.spdd {
/*   margin-right: 30px;
  margin-left: 30px; */
  height: 262px;
}
.sp1 {
  padding-left: 37px;
  padding-right: 0px;
  height: 262px;
}
.sp2 {
  padding-right: 40px;
  padding-left: 9px;
  height: 262px;
}
.sp{
  padding-left: 0px;
  padding-right: 0px;
  height: 165px !important;
}

.fashIons {
  margin-top: 0px;
  letter-spacing: 2px;
  position: absolute;

  top: 11%;
  /* left: 50%; */
  right: 7%;
  /* transform: translate(-50%, -50%); */
  color: #515151;
  font-size: 1.5rem;
  font-weight: 700%;
  text-transform: uppercase;
  width: auto;

  /* letter-spacing: 2rem !important; */
}
.arriVals {
  position: absolute;
  top: 23%;
  /* left: 72%; */
  right: 0;
  margin-right: 43px;
  margin-left: 348px;
  /* 
  transform: translate(-50%, -50%); */
  margin-bottom: 20px;
  color: rgb(110, 105, 105);
  /* letter-spacing: .5rem; */
  font-size: 18;
  margin-bottom: .9rem;
  text-align:right;
  /* letter-spacing: 12px; */
  /* font-family: 'experts'; */
}
.figure{
  border:solid 1px black;
}
.hfive{
  text-align: center;
  width:900px;position: relative; 
  left: 10%; top: 15px; 
  color: black;
  font-size: 18px;
}
.sPosition {
  position: absolute;
  top:84%;
  /* left: 76%; */
  right: 7%;
  font-size: 16;
  
}
.btnn {
  color: rgb(129, 128, 128);
  border: rgb(129, 128, 128) 1px;
  border-radius: 40;
}
.btnn:hover{
  background-color: #6e6f71 !important;
  color:#fff !important;
}
.fashIons1 {
  margin-top: 0px;
  letter-spacing: 2px;
  position: absolute;
  top: 10%;
  left: 6%;
  /* transform: translate(-50%, -50%); */
  color: #6e6f71;
  font-size: 1.5rem !important;
  font-weight: 700%;
  width: auto;
  text-transform: uppercase;
}
.arriVals1 {
  position: absolute;
  top: 23%;
  left: 6%;
  right: 60%;
  /* margin-right: 348px;
  margin-left: 30px;
  text-align: left; */
  /* margin-right: 326px; */
  /* transform: translate(-50%, -50%); */
  margin-bottom: 20px;
  color: #6e6f71;
  font-size: 18;
  /* letter-spacing: .5rem; */
  margin-bottom: .9rem;
  /* letter-spacing: 12px; */
  /* font-family: 'experts'; */
}
.sPosition1 {
  position: absolute;
  top:84%;
  left: 7%;
  font-size: 13px !important;
}

.btnn-outline-secondary-light {
  cursor: pointer;
  padding: 10px;
  color: #6e6f71;
  background-color: transparent;
  background-image: none;
  border: 2px solid #6e6f71 !important;
  background: white;
  margin: 45px;
  width: 143px;
  height: 100px;
  /* font-size: 0.88rem !important; */

}

.btnn-outline-secondary-light:hover {
  background: #6e6f71 !important;
  color: white !important;

}
.btnn :hover {
  background-color: #6a737f;
}

.btnn {
  /* font-size: 15px; */
  /* font-family: 'Expert Sansz'; */
  letter-spacing: .05rem;
  /* text-transform: uppercase; */
  border-radius: 1px;
  border: 1px solid gray;
  /* min-width: 124px; */
  transition: all .3s;
  width: 100px;
  height: 25px;
  display: inline-block;
  /* font-weight: 400; */
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  line-height: 1.5;
  background:transparent;
}
.buttonShape {
  font-size: 12px;
}

.img-fluid{
  width: 100%;
  height: 350px;
}

.gridRows{margin-top: 45px ;margin-bottom: 20px;}
/* .rowClt{margin-left: 18px;} */

@media only screen and (max-width:990px){
  .hfive{
    text-align: center;
    font-size: 10px;
    width: 245px;
    margin: 0px;
  }
  .gridRows{margin-top: 20px ;margin-bottom: 20px;}
  .img-fluid{
    width: 100%;
    height: 350px;
    /* height: 45px;
    margin: 2px;
    padding: 2px; */
   
  }
  .figure{
    border:solid 2px black;
  }
}