<div class="container-fluid" style="margin-top: 60px">
  <h3>Disclaimer</h3>

  <p>The information provided on <a href="www.ucchalfashion.com">www.ucchalfashion.com™</a> website (the "Service") is for general information purposes only. 
    <b>Ucchal Fashion™</b> does not assume any responsibility for errors or omissions in the contents on the Service.

      In no event shall <b>Ucchal Fashion™</b> be liable for any special, direct, indirect, 
      consequential, or incidental damages or any damages whatsoever, whether in an action of contract, negligence or other tort, 
      arising out of or in connection with the use of the Service or the contents of the Service. 
      </p>
      <br>
      <p><b>Ucchal Fashion™</b> does not warrant that the website is free of viruses or other harmful components.
        </p>
        <br>
       <h6><b> External links disclaimer</b> </h6>
<p>
<b>Ucchal Fashion™</b> website may contain links to external websites that are not provided or maintained by or in any way affiliated with <b>Ucchal Fashion™</b>. 

<b>Ucchal Fashion™ </b> does not guarantee the accuracy, relevance, timeliness, or completeness of any information on these external websites. 
<b>Ucchal Fashion™</b> is not liable for for any loss or damage arising out of the visits to links of the external websites contained in the <b>Ucchal Fashion™</b> website.

Links of the external websites contained in the <b>Ucchal Fashion™</b> website does not create any affiliation between the external websites and <b>Ucchal Fashion™</b> in any manner. </p>


<h6><b>Affiliate disclaimer</b></h6>

<p>This affiliate disclosure details the affiliate relationships of <b>Ucchal Fashion</b> with other companies and products. 
  Some of the links on are “affiliate links”, a link with a special tracking code.</p>

</div>