<!--The content below is only a placeholder and can be replaced.-->
<app-nav-top></app-nav-top>
<app-nav></app-nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
<!-- <app-footer></app-footer> -->