<div class="container" style="margin-top: 60px;">
  <h1 class="text-center"> Terms & Conditions </h1>
<div *ngFor="let term of terms">
  <h5>{{term.heading}}</h5>
  <p>{{term.details}}</p>

</div>
</div>