
 <mat-horizontal-stepper #stepper (window:resize)="getWindowSize()"  class="top" *ngIf="!showMobileView" linear>
    <mat-step [completed]="addressModel?.length > 0">
        <ng-template matStepLabel ><span class="textStyle1">Delivery Address</span></ng-template>
        <app-all-address [addressModel]="addressModel" (addAddress)="addAddressEvent()" 
        (editAddress)="editAddress($event)"
        (deleteAddress)="deleteData($event)" 
        (selectAddress)="selectedAddress($event)"></app-all-address>
       
        <button [disabled]="addressModel?.length === 0" class="float-right continueButton textStyle1"  matStepperNext>CONTINUE</button>
      </mat-step>
<mat-step [completed]="addressModel?.length > 0">
      <ng-template matStepLabel class="textStyle1"> 
        <span class="textStyle1" >Order Summary</span></ng-template>
      <!-- <div class="textStyle1"
       [hidden]="!checkOutofStack?.length">
          Out of stock is present {{checkOutofStack?.length}}
      </div> -->
      <app-checkout-cart [shopModel]="shopModel" [totalItems]="totalItems" [totalAmount]="totalAmount"
      [couponValue]="couponValue" [couponType]="couponType"
      [subTotal]="subTotal" [addressSelected]="addressSelected"
      (addPlus)="actionPlus($event)" [totalShipement]="totalShipement"
       (minusPlus)="actionMinus($event)"
        (deleteCart)="removeCart($event)"></app-checkout-cart> 
        <button class="backButton float-left textStyle1" matStepperPrevious>BACK</button>
        <button [disabled]="addressModel?.length === 0"
        matStepperNext class="float-right continueButton textStyle1">CONTINUE</button>
    </mat-step>



<mat-step>
  <ng-template matStepLabel class="textStyle1"><span class="textStyle1" >Payment Options</span></ng-template>
  <div >
    <app-confirm [totalItems]="totalItems"
     [addressSelected]="addressSelected" [totalAmount]="totalAmount"
    [subTotal]="subTotal" (paymentType)="paymentMethod($event)"
      (confirmDetails)="confirmOrderData($event)" (messageEvent)="confirmOrderData($event)"></app-confirm>
      <!-- <div class="container">
        <div class="row">
          <h1>Proceed to Pay</h1>
          <button (click)="pay()"></button>
        </div>
      </div> -->
      <!-- <form #form ngNoForm 
      id="nonseamless" 
      method="post"
      name="redirect" 
      action="https://test.ccavenue.com/transaction/transaction.do?command=initiateTransaction">
  <input id="encRequest" name="encRequest" [ngModel]="encRequest">
  <input  name="access_code" id="access_code" [ngModel]="accessCode">
</form> -->
      <!-- <div>
        <button class="backButton float-left continueButton textStyle1" (click)="confirmOrderData()">Order </button>
      </div> -->
  </div>
  
  <div>
    <button class="backButton float-left continueButton textStyle1" matStepperPrevious>BACK</button>

  </div>
</mat-step>
</mat-horizontal-stepper>



<mat-horizontal-stepper #stepper class="topMob" *ngIf="showMobileView">
  <mat-step>
<app-all-address [addressModel]="addressModel" (addAddress)="addAddressEvent()" 
(editAddress)="editAddress($event)"
(deleteAddress)="deleteData($event)" 
(selectAddress)="selectedAddress($event)"></app-all-address>

<button [disabled]="addressModel?.length === 0" class="float-right continueButton textStyle1" matStepperNext>CONTINUE</button>
</mat-step>
<mat-step>
    <div class="textStyle1" [hidden]="!checkOutofStack?.length">
        Out of stock is present
    </div>
    <app-checkout-cart [shopModel]="shopModel" [totalItems]="totalItems"
      [subTotal]="subTotal" [addressSelected]="addressSelected" [totalAmount]="totalAmount"
      (addPlus)="actionPlus($event)"
       (minusPlus)="actionMinus($event)"
        (deleteCart)="removeCart($event)"></app-checkout-cart>
        <div #paypal (click)="paypalApply()">

          </div> 
      <div *ngIf="shopModel.length !== 0">
          <app-confirm [totalItems]="totalItems" [totalAmount]="totalAmount"
          [addressSelected]="addressSelected" 
         [subTotal]="subTotal" (paymentType)="paymentMethod($event)"
           (confirmDetails)="confirmOrderData($event)" (messageEvent)="confirmOrderData($event)"></app-confirm>
       
             </div>
        <div>
          <button class="backButton float-left continueButton textStyle1" matStepperPrevious>BACK</button>
        </div>
  </mat-step>
</mat-horizontal-stepper>

