<div class="container-fluid gridCtrl">
  <div class="row" style="margin-top: 10px">
      <div class="col-md-6" *ngFor='let data of banner'>
          <div class="image-box">
          <img [src]="data.banners" class="img-fluid">
          <div class="show-off">
        </div>
          </div>
        </div>
    <div class="col-md-6">
      <div class="ctrlAll">
        <div class="col-md-12" style="padding: 12px;">
          <h1 class="titleOne">
            THE DENIM CLASSICS
          </h1>
          <p>
            Inspired by the vintage & classic jeans culture, these jeans are an empty
            canvas and an expression of individuality just like a Scarecrow.
          </p>
          <p>
            From dark rinsed to 6 months wash, these pair of jeans are just starting
            to break in. Wear them to office, to adventure or just sleep in them to
            really make them your second skin.
          </p>
        </div>
        <div class="col-md-12">
          <div class="alignNit">
            <span class="buttonS buttonU">
              <strong class="view-class">
                VIEW ALL
              </strong>
            </span>
          </div>
          <div class="row" style="padding: 12px">
            <div class="col-md-4 ctrlRow" *ngFor='let data of image'>
              <img [src]="data.images" class="img-responsive hvr-forward">
              <h4 class="nameClass">{{data.name}}</h4>
              <h6 class="range-class">{{data.range}}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row" style="margin-top: 20px;">
      <div class="col-md-6">
          <div class="ctrlAll">
            <div class="col-md-12" style="padding: 12px;">
              <h1 class="titleOne">
                THE DENIM CLASSICS
              </h1>
              <p>
                Inspired by the vintage & classic jeans culture, these jeans are an empty
                canvas and an expression of individuality just like a Scarecrow.
              </p>
              <p>
                From dark rinsed to 6 months wash, these pair of jeans are just starting
                to break in. Wear them to office, to adventure or just sleep in them to
                really make them your second skin.
              </p>
            </div>
            <div class="col-md-12">
              <div class="alignNit">
                <span class="buttonS buttonU">
                  <strong class="view-class">
                    VIEW ALL
                  </strong>
                </span>
              </div>
              <div class="row" style="padding: 12px">
                <div class="col-md-4 ctrlRow" *ngFor='let data of image'>
                  <img [src]="data.images" class="img-responsive hvr-float-shadow">
                  <h4 class="nameClass">{{data.name}}</h4>
                  <h6 class="range-class">{{data.range}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
    <div class="col-md-6" *ngFor='let data of banner'>
        <div class="image-box">
      <img [src]="data.banners" class="img-fluid">
      </div>
    </div>
  </div>
</div>

