.navStyle{
  width: 70%; 
  padding: 5px; 
  /* left: 250px;  */
  position: relative;
  text-align: center;
}
.mat-card {
    left: 40%;
    position: relative;
    margin-top: 40px;
    box-shadow: 0 1px 52px 0 #00000033, 0 1px 2px 0 rgba(0, 0, 0, .19);
    background: rgb(255, 255, 255);
    border-radius: 8px;
    width: 50%;
    border: 0px solid gray;
  }
  .registerButton {
    padding: 8px 28px;
  }
  
  .registerButton {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 220px;
    left: 28% !important;
    position: relative;
    border-radius: 0px;
  }
  .img-fluid{
      width: 100px !important;
      left: 40% !important;
      position: relative;
  }

  .registerButton:hover{
background: #000 !important;
  }
  .gridContainer {
    background: #ebebeb;
    /* padding-top: 10px; */
   /*  padding-bottom: 10px; */
    max-width: 50% !important;
  }
  .abtn { 
  display: block;
  max-width: 20%;
  margin: 0 auto;
  line-height: 38px;
  letter-spacing: 0.025em;
  color: #000;
  border: 1px solid #000;
  text-align: center;
  background: transparent;
  }

  .productMoreInfo {
    margin: 2rem 13rem 15rem 13rem !important;
    

}
.cen{
  margin:auto;
  display: block;
}

/* .nav-tabs {
  border-bottom: 1px solid #888 !important;
} */

.activeClass {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  color: black;
  /* border-bottom: 2px solid black !important; */
  /* width: 50px !important; */
}

.nav-tabs .nav-link {
  border: none;
}

@media only screen and (max-width: 900px) {
    .productMoreInfo {
        margin: 0 !important;
    }
}

.delivery h4 {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;

}

.delivery h4  {
  font-weight: normal;
  font-size: 14px;
}

/* .tab-pane {
  padding: 30px 5% 10px;
} */

.tabHeading {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  color: #888;
  font-family: 'Futura Book';
  
}

.activeHeading {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  color: rgb(0, 0, 0);
}
.titleStyle {
  font-family: 'Montserrat-Regular';
}