<!-- <div class="container space gridSpace row" *ngFor="let prod of productValue">
  <h5 class="mensColect" style="font-family: Montserrat-RegularCn">{{prod.title}}</h5>
  <p class="mensCrip tex-alin" style="font-family: Montserrat-RegularCn">VIEW ALL</p>
  
          
            <app-carousel-item>
              
      <div appCarouselItem class="col-md-1 col-lg-3 col-xl-3 col-6" *ngFor="let img of prod.productDetails" >
          
          <div (click)="getView(img.productId)" >
        <div class="spaceCtrl">
          <div class="box"  >
            
          
            <img [src]="productImageUrl + img.productId + '/' + img.productImageName" class="imgProduct">
        
            <ul class="icon">
                <li>
                      <i class="fa fa-heart-o" aria-hidden="true"></i>
                </li>
              </ul>
              <ul class="icont">
                  <li>
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                  </li>
                </ul>
              <h6 class="mEn">{{img.material}}</h6>
              
              <p class="proName" style="font-family: Montserrat-RegularCn">{{img.productName}}</p>
              <p class="priZe" style="font-family: Montserrat-RegularCn"> <span style="text-decoration: line-through;font-family: Montserrat-RegularCn" >{{img.unPriz}}</span> ₹
                {{img.price}}</p>
          </div>
        </div>
  </div>
  
  
        <h6 style="text-align: center; margin-top: 8px; margin: 2px; ">
            <div class="example-button-row row" >
                <h6 style="padding-left: 1px;" class="col-xl" *ngFor="let da of img.sizeName">
                  <button mat-mini-flat class='sizeStyle'>
                    <span class='textStyle'>{{da}}</span>
                  </button>
                </h6>
              </div>
          <h6 class="mEn">{{img.material}}</h6>
          <p class="proName">{{img.productName}}</p>
  
          <p class="priZe"> <span style="text-decoration: line-through">{{img.unPriz}}</span> ₹
            {{img.price}}</p>
        </h6>
      </div>
  
  </app-carousel-item>
  
  </div>
  
  
    
          
    -->
    <!-- <div class="container gridSpace space row" *ngFor="let prod of productValue">
  <h5 class="mensColect" style="font-family: Montserrat-RegularCn">{{prod.title}}</h5>
  <p class="mensCrip tex-alin" style="font-family: Montserrat-RegularCn">VIEW ALL</p>

        
          <app-carousel-item>
            
    <div appCarouselItem class="col-md-3 col-lg-3 col-xl-3 col-6"
     *ngFor="let img of prod.productDetails" >
        
        <div (click)="getView(img.productId)" >
      <div class="spaceCtrl">
        <div class="box">
          <img [src]="productImageUrl + img.productId + '/' + img.productImageName" class="imgProduct">
          <ul class="icon">
            <li>
                  <i class="fa fa-heart-o" aria-hidden="true"></i>
            </li>
          </ul>
          <ul class="icont">
              <li>
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
              </li>
            </ul>
          
          
          <p class="proName" style="font-family: Montserrat-RegularCn">{{img.productName}}</p>
          <p class="priZe" style="font-family: Montserrat-RegularCn"> <span style="text-decoration: line-through;font-family: Montserrat-RegularCn" >{{img.unPriz}}</span> ₹
            {{img.price}}</p>
        </div>
      </div>
</div>


      <h6 style="text-align: center; margin-top: 8px; margin: 2px; ">
   
      </h6>
    </div>

</app-carousel-item>

</div>
 -->

 <div class="container topSet"  *ngFor="let prod of productValue">
  <h5 class="mensColect">{{prod.title}}</h5>
  <p class="mensCrip tex-alin" (click)="getViewAll()">{{prod.description}}</p>
    <app-carousel-item>
      <div appCarouselItem class="col-md-3 col-6 pr-2 pl-2" *ngFor="let img of prod.productDetails" >
          <div class="productBox"  appHover>
            <div class="productImg">

              <div style="width: 100%; padding-top: 120%; background: rgb(247, 246, 249); cursor: pointer;">
                <img [src]="img?.productImageName" (click)="getView(img.productId)">
              </div>
              <div *ngFor="let prodVal of productStore">
                <div class="productTesting" *ngIf="prodVal._id === img.productId" [class.displayNone]="img.display !== true" 
          [class.displayBlock]="img.display === true">
            <div (click)="closeToBag(img.productId)" class="sizeHeader  pull-right">
              <mat-icon>clear</mat-icon>
            </div>
            <div class="sizeTesting">
              <button class="oneSize" [disabled]="size.sizeQuantity === 0" (click)="skuProductAddToCart(prodVal, size)" *ngFor="let size of prodVal.child">
                <span >{{size.sizeVariant}}</span>
              </button>
            </div>
          </div>
        </div>
        <div class="productActionLeft" (click)="checkLoginUser(img)" [ngClass]="{'changeMatIconColor': img.wishList,'wishProductMob':showMobileView===true}" 
        [style.display]="'none'" >
         <span class="wishProduct " [ngClass]="{'wishProductMob':showMobileView===true}"><span
             class="alignedRelative">Wishlist</span></span>
       </div>
       <div class="productActionRight"  
        [style.display]="'none'" (click)="addToBag(img.productId)" [ngClass]="{'wishProductMob':showMobileView===true}">
         <span class="addtoProduct"  [ngClass]="{'wishProductMob':showMobileView===true}"><span class="alignedRelative" >Add To Bag</span></span>
       </div>
            </div>
            <div class="productDetails">
                <h3 class="productName">{{img?.productAll?.productName}}</h3>
              <div class="productPriceBox">
                  
                <h6 class="productPrice">{{img?.productAll?.price  | converter | localeCurrency}}
                    <span class="fullPrice" >{{img.productAll.sp + img.productAll.sp * img.productAll.discount / 100 | converter | localeCurrency}}</span>
                </h6>
                <p class="text-center">You Save: <span>{{img.productAll.sp * img.productAll.discount / 100 | converter | localeCurrency}}</span></p>
              </div>
            </div>
          </div>
        </div>
    </app-carousel-item>
  </div>
