@media (min-width: 1200px){
  .container {
      max-width: 1300px !important;
  }
  }


.product-grid{ font-family: 'Roboto Condensed', sans-serif; }
.product-grid .product-image{
    position: relative;
    overflow: hidden;
}
.product-grid .product-image a.image{ display: block; }
.product-grid .product-image a.image:before{
    content: '';
    background-color: rgba(0,0,0,0.25);
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.3s ease;
}
.product-grid .product-image:hover a.image:before{ opacity: 1; }
.product-grid .product-image img{
    width: 100%;
    height: auto;
}
.product-grid .product-like-icon,
.product-grid .product-quick-view{
    color: #025c9a;
    font-size: 22px;
    transform: scale(0);
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    transition: all 0.3s ease;
}
.product-grid .product-quick-view{ top: 33px; }
.product-grid .product-image:hover .product-like-icon,
.product-grid .product-image:hover .product-quick-view{
    transform: scale(1);
}
.product-grid .product-like-icon:hover,
.product-grid .product-quick-view:hover{
    color: #fff;
}
.product-grid .add-to-cart{
    color: #fff;
    background-color: #015b9c;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    width: 150px;
    padding: 8px 15px;
    border-radius: 20px;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    bottom: -50px;
    transition: all 0.3s ease;
}
.product-grid .product-image:hover .add-to-cart{
    opacity: 1;
    bottom: 15px;
}
.product-grid .add-to-cart:hover{ background: #0097A7; }
.product-grid .product-content{ padding: 10px 0 0; }
.product-grid .title{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
    margin: 0 0 5px;
}
.product-grid .title a{
    color: #000;
    transition: all 0.4s ease-out;
    font-family: 'Roboto Condensed', sans-serif;
}
.product-grid .title a:hover{ color: #0097A7; }
.product-grid .price{
    color: #000;
    font-size: 17px;
}
@media only screen and (max-width:990px){
    .product-grid{ margin: 0 0 30px; }
 
}



.textShape{
  font-size: 18px;
}

.halfsize {
  -moz-transform:scale(0.5);
  -webkit-transform:scale(0.5);
  transform:scale(0.5);
}
.disabled{
  pointer-events: none;
  opacity: 0.5;
}
.pagination{
  display: inline-block;
    float: none;
    margin-left: 26%;
}
/* .pagination li{
  
  border-radius: 50px;

} */
.pagination li{
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  /* border:1px solid grey; */
  /* background-color: #ccc; */
  padding: 2px 5px;
  cursor: pointer;
  color: #333;
  margin:2px;
}
.grumpy-image-wrapper {
  width: 100%;
  height: 0;
  padding-bottom: 144.7%;
  border: 2px solid white; /* simply to show you the collapsed state for this demo */
}
.grumpy-image {
  width: 100%;
}
.imageResponsive {
  display: block;
  max-width: 100%;

}

.loader{
  margin-top: 100px;
  width: 100px !important;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.icon{
width: 24px;
height: 24px;
}
.wishProductMob{
  display: none !important;
  visibility: hidden;
}
.productMaterial {
  margin: 4px 0;
  line-height: 16px;
  font-weight: 600;
  font-size: 12px;
  color: black;
}
.box {
  /* width: 210px; */
  position: relative;
  vertical-align: top;
  overflow: hidden;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 10px 30px 10px;

}
.opacityEnable {
  opacity: 0.5;
}

/* .imgleaf{
  position: relative;
  
  height: 50px;
  width: 100px;
} */
.productBox .productImg {
  height: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
/* .productBox .productImg img:last-child {
  display: block;
  height: auto;
  position: absolute;
  top: 0;
  width: 100%;
} */

.pathName {
  stroke: #000;
  color: #ffffff;
}
img {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
.productBox .productImg img {
  width: 100%;
}
.productBox .productImg img:first-child {
  display: block;
  height: auto;
  width: 100%;
}
.icon_wishlist:before {
  content: "\E902";
}
.wishProduct i {
  color: #000;
  /* font-size: 20px; */
  vertical-align: sub;
}


.productBox .productDetails .productPriceBox {
  color: rgba(45,45,45,.5);
  font-size: 12px;
  line-height: 18px;
  padding: 5px 0;
  position: relative;
}
.productBox .productDetails {
  overflow: hidden;
  padding: 5px 0 0;
  width: 100%;
}

.productBox {
  margin-bottom: 30px;
  width: 100%;
}
/* .productBox:hover{
  box-shadow: 0 0 5px 0 rgba(218, 216, 216, 0.788), 0 0 2px 0 rgba(218, 216, 216, 0.788);
} */
mat-icon{
  font-size: 12px !important;
  height: 12px;
  width: 12px;
}

.productBox .productImg .productActionLeft  .wishProduct:after {
	border-right: 0.5px solid black;
	content: "";
	display: block;
	width: 1px;
  position: absolute;
  bottom: 0px;
  top: 0px;
  /* left: 50%; */
	right: 0%;
}
.productBox .productImg .productActionLeft  .addtoProduct {
  cursor: pointer;
  float: right;
  font-size: 14px;
  text-align: center;
  color: black;
}
.productBox .productImg .productActionLeft .wishProduct {
  cursor: pointer;
  float: left;
  font-size: 13px;
  letter-spacing: 1.5px;
  padding-top: 12%;
  text-align: center;
  color: black;
}
.productBox .productImg .productActionLeft {
  left: 10px;
  padding-top: 2%;
  padding-bottom: 5%;
  padding-left: 11%;
  padding-right: 2%;
  position: absolute;
  /* right: 0; */
  bottom: 70px;
  width: 46%;
  background: #EEDBDF;
  cursor: pointer;
  opacity: 0.9;
}
/* .productBox .productImg .productActionRight  .wishProduct:after {
	border-right: 2px solid white;
	content: "";
	display: block;
	width: 1px;
  position: absolute;
  bottom: 0px;
  top: 0px;
  left: 50%;
	right: 50%;
} */

.productBox .productImg .productActionLeft  .wishProduct:after {
	border-right: 0.1px solid lightgray;
	content: "";
	display: block;
	width: 1px;
  position: absolute;
  bottom: 0px;
  top: 0px;
  /* left: 50%; */
	right: 0%;
}
.productBox .productImg .productActionRight  .wishProduct:after {
	/* border-right: 2px solid white; */
	content: "";
	display: block;
	width: 1px;
  position: absolute;
  bottom: 0px;
  top: 0px;
  
}
.productBox .productImg .productActionRight  .addtoProduct {
  cursor: pointer;
  float: right;
  font-size: 13px;
  text-align: center;
  padding-top: 6%;
  color: black;
}
.productBox .productImg .productActionRight .wishProduct {
  cursor: pointer;
  float: left;
  font-size: 13px;
  text-align: center;
  color: black;
}
.productBox .productImg .productActionRight {
  /* left: 0; */
  padding-top: 4%;
  padding-bottom: 5%;
  padding-left: 3%;
  padding-right: 10%;
  position: absolute;
  right: 3%;
  bottom: 70px;
  width: 46%;
  background: #EEDBDF;
  cursor: pointer;
  opacity: 0.9;
  color: black;
}
.aligned-with-icon-relative{
  position: relative;
  top: 0px;
  /* margin-left: 5px; optional */
}
.bg-image {
  width: 100%;
  height: 140%;
  /* background: url('/../../../../assets/images/746888_denim_1.jpg') no-repeat center; */
  background-size: contain;
}


.boxInfo {
  position: absolute;
  width: 100%;
  top: 73%;
  right: 0;
  bottom: 16%;
  left: 0;
  visibility: visible;
}

.pullLeft {
  padding-top: 5%;
  border-right: 1px solid lightgray;
  width: 50%;
  float:left;
  text-align: center;
}

.pullLeft span{
  font-weight: 500
}

.pullRight {
  /* padding: 6%; */
  padding-top: 5%;
  float:right;
  text-align: center;
  width: 50%;
}
.img-container {      
  box-shadow: rgb(211, 31, 31) 1px 2px 8px 1px;      
  width: 100%;      
  padding: 140%;
  background-position: center;      
  background-repeat: no-repeat;      
  align-content: center;      
} 
.box:hover {
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.backgroundImage {
  width:  100%;
  padding: 350px;
  height: 80%;
  border: 1px solid black;
}

.box:hover .boxInfo {
  visibility: visible;
  background-color: rgba(48, 44, 44, 0.239);
  opacity: 1;
  /* box-shadow: 0 4px 8px 0  rgb(136,136,136), 0 6px 20px 0 rgb(136,136,136); */
  
}
.product-actionsButton {
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
  padding: 8px 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* .productPrice {
  margin: 2px 0;
  line-height: 18px;
  font-weight: 600;
  color: #333;
  font-family: '';
} */

@media only screen and (max-width: 900px) {
  .imageResponsive {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .boxInfo {
    position: absolute;
    width: 100%;
    top: 79%;
    right: 0;
    bottom: 13%;
    left: 0;
    display: none;
  }
  .pullLeft {
    padding-top: 5%;
    border-right: 1px solid lightgray;
    width: 50%;
    float:left;
    text-align: center;
  }
  .pullRight {
    padding-top: 5%;
    float:right;
    text-align: center;
    width: 50%;
  }
}

.rowBox {
  position: relative;
  z-index: 1;
  transition: .3s;
  cursor: pointer;
}

.mb20 {
  margin-bottom: 20px;
}

.mb10 {
  margin-bottom: 10px;
}

.product-slug {
  width: 70%;
  font-family: 'HelveticaNeue';
  text-align: left;
  color: #333;
}

.productBox .productDetails .productName {
  /* line-height: 16px;
  font-weight: 600; */
  font-size: 15px;
  font-weight: 600 !important;
  margin-bottom: 0% !important;
  text-align: center;
  color: black !important;
  font-family: 'Muli', sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/* .productBoxHover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */
.productBox .productDetails .productPriceBox .productPrice {
  color: black !important;
  font-family: 'Muli', sans-serif;
  text-align: center;
  font-size: 14px;
}
.productDescription {
  text-align: left;
  color: #000;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.productBrand {

  width: 70%;
  margin: 2px 0;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.productText {
  padding-left: 15px;
  text-align: left;
  color: lightslategray;
  /* color: #000; */
  margin-bottom: 10px;
}

.productInformation {
  position: relative;
  margin: 15px 0 0;
}

.productWishlist {
  position: absolute;
  top: -10px;
  right: 0;
  width: 40px;
  height: 40px;
  padding: 10px;
  line-height: 20px;
  cursor: pointer;
  text-align: center;
  color: #333;
  border: none;
  background: transparent;
}
.textOffer {
  line-height: 30px;
  
  color: red;
}
.textShape {
  padding-top: 3px !important;
  margin-block-end: 5px !important;
}
.pull-center {
  float: inline-start;
}
.offerText {
  font-size: 10px;
  padding-right: 5px;
  padding-top: 3px;
  font-family: 'Muli', sans-serif;
}
.oldPrice {
  font-family: 'Muli', sans-serif;
}
.selectedPage{
  background-color: #78a2c4;
  border: 1px solid #e2e2e2;
  border-radius: 50%;
}
