.addrEss{
    text-transform: capitalize;
    margin: 15px;
}
.add{
    margin: auto;
    /* display: block; */
    display: flex;
  align-items: center;
  justify-content: center;
    /* padding-top: 120px; */
}
::ng-deep .snackbar{
    /* top:50%; */
    /* margin-left: 850px !important;
    margin-bottom: 500px !important;  */
    /* background-color: blue; */
    margin-top: 100px !important;
  }
  ::ng-deep .snackbar1{
    /* top:50%; */
    /* margin-left: 850px !important;
    margin-bottom: 500px !important;  */
    /* background-color: blue; */
    margin-top: 100px !important;
  }
.addressDe{
    /* text-align: center; */
    padding: 10px;
    /* border-bottom: 1px solid gray; */
    width: 100%;
    background: #ffb500;
    font-size: 20px;
    color: black;
}
.buttn{
    background-color: white;
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 25px;
    width: auto;
    border-radius: 10px;
    font-size: 15px !important;
    height: 40px;
}
.gridRow{
/* box-shadow: 0 0 14px rgb(219, 219, 219); */
/* background-color: #E9E7E7; */
border: 1px solid #dee2e6;

}
.bgRowedit{
    background: rgb(243, 243, 243);
}
.btnn {
    width: 170px;
}
.fontSTyl {
    font-family: 'HelveticaNeue';
}
.padding{
    padding-left:10px;
    font-size: 15px;
}
.paddingMob{
    padding-left: 15px;
}
.buttonFont {
    font-family: 'HelveticaNeue';
    margin-left: 0px !important;
}