<form [formGroup]="passwordForm">
    <div class="row">
      <div class="col-md-12 form-group text-center">
        <label>Set Password</label>
      </div>
      <!-- <div class="col-md-3 form-group"></div>
      <div class="col-md-6 form-group">
          <mat-form-field>
        <input matInput type="password" formControlName="oldPwd" placeholder="Old Password">
        </mat-form-field>
      </div>
      <div class="col-md-3 form-group"></div> -->
      <div class="col-md-3 form-group"></div>
      <div class="col-md-6 form-group">
          <mat-form-field>
        <input matInput type="password" formControlName="newPwd" placeholder="New Password">
        </mat-form-field>
      </div>
      <div class="col-md-3 form-group"></div>
      <div class="col-md-3 form-group"></div>
      <div class="col-md-6 form-group">
          <mat-form-field>
        <input matInput type="password" formControlName="confirmPwd" placeholder="Confrim Password">
        </mat-form-field>
      </div>
      <div class="col-md-3 form-group"></div>
      <div class="col-md-6 form-group text-center" (click)="setPassword()">
        Save
      </div>
      <div class="col-md-6 form-group text-center" (click)="cancel()">
        cancel
      </div>
    </div>
    </form>