/* .proceed {
    margin: 0 0 12px;
    position: relative;
  }
  .content {
    text-align:left; 
    font-size:20px;
  }
  .small-content {
    text-align:left;font-size:16px;
  } */

  .font{
    font-size: 12px;
  }
  .cartProductActions {
    font-size: 11px;
    margin-top: 5px;
    opacity: 0.7;
  }
  .error {
    font-size: 13px;
    color: #e83e8c !important;
  }
.continueShopping
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    background-color:#28334f;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    width: 100%;
    cursor: pointer;
    border: none;
    padding: 8px 10px;
    min-height: 45px;
}
.shopIng{
    height: 20px;
    width: 20px;
    margin-top: 3px;
  }
  .default {
    border-color: #e7e7e7;
    color: black;
  }
  .default:hover {
    background: #e7e7e7;
  }
  .proceed {
    margin: 0 0 12px;
    position: relative;
  }
  .content {
    text-align:left; 
    font-size:20px;
  }
  .small-content {
    text-align:left;font-size:16px;
  }.shopping {
    display: block;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 13px;
    width: 100%;
    cursor: pointer;
    padding: 5px 5px;
    background-color: white;
    height: 40px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
  }


  .hello {
    font-size: 16px;
    line-height: 45px;
    height: 16px;
    overflow: hidden;
    cursor: pointer;
  }
  
  .show {
    overflow: visible;
    height: auto;
    cursor: pointer;
  }
  .bagBorder {
    outline: 1px solid #eee;
    padding: 10px 30px 10px;
  }
  .productBorder {
    padding-top:20px;
    border-top: solid; 
    border-width: 1px;
    padding-bottom:10px;
    color:  #eee;
  }
  .myBag {
    line-height: normal;
    margin: 2px auto;
    width: 100%;
    color: #7e818c;
    /* font-family: 'HelveticaNeue'; */
    font-size: 13px !important;
  }
  .productLine {
    padding-top:20px;
    border-top: solid; 
    border-width: 1px;
    padding-bottom:10px;
    color:  #eee;
  }
  .shopBorder {
      content: '';
      border-top: 1px solid #eee;
      margin-top: 20px;
      margin:  10px 0 0;
      flex: 2 0 40px;
    
  }
  .productSize {
    height: 160px;
     width: auto;
     margin-bottom: 0px;
  }
  .actionBtn {
    content: '';
      border-top: 1px solid #eee;
      margin-top: 70px;
      flex: 2 0 40px;
  }
  .item-Size-Qty{
    font-weight: 600;
    color:gray;
    font-size: 10.4px !important;
    /* font-family: 'HelveticaNeue'; */
  }
  .productName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
    margin: 0;
    background: white;
    padding-left: 0px;
    /* font-family: 'HelveticaNeue'; */
    font-size: 13px;
  }
  .price {
    padding: 10px;
    padding-left: 0px;
    /* font-family: 'HelveticaNeue'; */
  }
  .wishlistBtnBorder {
    border-left: 2px solid #eee;
  }
  .bagHeader {
    color: #7e818c;
  }
  .sizeFont {
    /* font-family: 'HelveticaNeue'; */
    font-size: 13px !important;
  }
  .classAction {
    /* font-family: 'HelveticaNeue'; */
    font-size: 13px !important;
  }
  .shapeHeight {
    margin-top: -20px;
  }
  .topSpace {
    margin-top: 42px;
  }
  .arrangeShape {
    margin-left: 10px;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
  }
  .deliveryTitle {
    font-size: 18px;
  }