/* .img-responsive.mobile {
  display: none;
} */

/* @media only screen and (max-device-width: 480px) {
  .img-responsive {
    display: none;
  }
  .img-responsive.mobile {
    display: block;
  }
} */
img {
  vertical-align: middle;
  border-style: none;
  width: 100%;
  height: 420px;
}

@media only screen and (max-width: 768px) {
  .bannerDiv {  
    margin-top: -50px;
  }
  .hidden-xs {
    display: none !important;
}
.visible-xs {
  display: block !important;

}
}
.visible-xs {
  display: none;

}
.bannerDiv img {
  width: 100%;
}
.bannerDiv {
  width: 100%;
}
.bannerMargin {
  margin-right: -15px;
  margin-left: -15px;
}

@media only screen and (max-width: 900px) {
  .arriVals {
    position: absolute;
    top: 43%;
    left: 37%;
    transform: translate(-50%, -50%);
    color: #f1f1f2;
    /* font-family: 'experts'; */
    margin-bottom: 0px;
    letter-spacing: 0.0px;
    margin-top: -50px;
    font-size: 8px;
    text-transform: uppercase;
    cursor: pointer;
    width: auto;
    letter-spacing: 8px;
  }
  .banDesc {
    display: block;
    position: absolute;
    top: 70%;
    left: 41%;
    transform: translate(-50%, -50%);
    color: #f1f1f2;
    
    /* font-family: 'experts'; */
    margin-bottom: 0px;
    letter-spacing: 2Wpx;
    margin-top: 10px;
    font-size: 43px;
    /* text-transform: uppercase; */
    cursor: pointer;
    width: auto;
  }
  .banTxt {
    position: absolute;
    width: 50%;
    top: 40%;
    left: 40% !important;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 23px;
    /* font-family: 'Expert Sans'; */
  }

  .fashIons {
    margin-top: 0px;
    position: absolute;
    top: 30%;
    left: 46%;
    transform: translate(-50%, -50%);
    color: #f1f1f2;
    font-size: 65px;
    /* font-weight: 700%; */
    width: auto;
    /* letter-spacing: 2rem !important; */
  }


  .intro-section-action {
    margin-top: 15px;
    position: absolute;
    top: 62%;
    left: 36%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    width: 100%;
    text-align: center;
    /* font-family: 'Expert Sanszz' !important; */
    font-weight: 700 !important;
    text-transform: uppercase;
  }


  .btn-primary:hover {
    background: #7e8794 !important;
  }

  .btn-primary {
    color: #fff;
    /* background-color: #6a737f !important; */
    border-color: #6a737f;
    box-shadow: none;
    /* font-family: 'Expert Sansz' !important; */
    font-size: 0.88rem !important;
    padding: 7px !important;
    letter-spacing: .055rem;
    text-transform: uppercase;
    /* border-radius: 0; */
    transition: all .3s;
    display: inline-block;
    font-weight: 200;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    line-height: 0.5;
    width: 80px;
    position: absolute;
    top: 45%;
    left: 12%;

  }


  .strong {
    font-weight: 100;
  }

  .newOn {
    font-size: 1.0rem;
    font-weight: 100;
  }

  .offErs {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: #515151;
    /* font-family: 'Expert Sansz' !important; */
    width: 100%;
    height: auto;
    font-size: 3.3rem;
    font-weight: 600;
    font: 500 4.7rem/1;
    color: #515151;
    letter-spacing: .09rem;
    margin-bottom: 3.8rem;
    text-transform: uppercase;

  }

  .btn-outline-secondary-light {
    cursor: pointer;
    padding: 5px !important;
    color: #515151;
    background-color: transparent;
    background-image: none;
    border: 2px solid #515151 !important;
    background: white;
    margin: 5px;
    width: 80px;
    font-size: 0.78rem !important;

  }

  .btn {
    font-size: 0.6rem;
    /* font-family: 'Expert Sansz'; */
    letter-spacing: .0rem;
    text-transform: uppercase;
    border-radius: 0;
    min-width: 84px !important;
    transition: all .3s;
    display: inline-block;
    font-weight: 200;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    line-height: 1.5;
    background: white;
  }

}

@media only screen and (min-width: 900px) {


  .banTxt {
    position: absolute;
    width: 50%;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 23px;
    /* font-family: 'Expert Sans'; */
  }



  .fashIons {
    margin-top: 15px;
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-size: 120px !important;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    /* font-weight: 600; */
    /* font-family: 'expert'; */
    width: auto;
  }

.banDesc {
  position: absolute;
  top: 62%;
  left: 30%;
  transform: translate(-50%, -50%);
  /* font-weight: 500; */
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 500px;
  letter-spacing: 1.2px;
  font-size: 18.5;
  text-align: center;
  line-height: 16pt;
  color: #EDEEEF;
  /* font: 300 0.7rem/1; */
  /* letter-spacing: .5rem; */
  margin-bottom: .9rem;
  /* text-transform: uppercase; */
  /* font-family: 'experts'; */
}
  .arriVals {
    position: absolute;
    top: 44%;
    left: 30%;
    transform: translate(-50%, -50%);
    margin-bottom: 20px;
    color: #f1f1f2;
    font: 300 1.7rem/1;
    letter-spacing: .5rem;
    margin-bottom: .9rem;
    letter-spacing: 12px;
    text-transform: uppercase;
    /* font-family: 'experts'; */
    font-weight: 600;
  }
.buttonPosition {
  position: absolute;
  top:82%;
  left: 24%;
  font-size: 12px;
  
}
.btn {
  border: #333 1px;
  border-radius: 40px;
}

  .btn-outline-secondary-light {
    cursor: pointer;
    padding: 10px;
    color: #EDEEEF;
    background-color: transparent;
    background-image: none;
    border: 2px solid #515151 !important;
    background: #EDEEEF;
    margin: 15px;
    width: 150px;
    font-size: 0.88rem !important;

  }

  .btn-outline-secondary-light:hover {
    background: #515151 !important;
    color: white !important;

  }

  .btn {
    font-size: 15px;
    /* font-family: 'Expert Sansz'; */
    letter-spacing: .05rem;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid black;
    min-width: 124px;
    transition: all .3s;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    line-height: 1.5;
    background:transparent;
  }

  .intro-section-action {
    margin-top: 15px;
    position: absolute;
    top: 55%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font: 500 1.7rem/1 "Poppins", sans-serif;
    width: 100%;
    text-align: center;
    /* font-family: 'Expert Sanszz'; */
  }

  .centered {
    position: absolute;
    width: 30%;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
  }

  /* ------------------ */


  .bannerSearch {
    width: 100%;
    position: relative;
  }

  .bannerFrm {
    float: left;
    width: 120%;
    padding: 11px;
    height: auto;
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
    /* font-family: sans-serif; */
    font-size: 13px;

  }

  .btn-primary:hover {
    background: #7e8794 !important;
  }

  .btn-primary {
    color: #fff;
    /* background-color: #6a737f !important; */
    border-color: #6a737f;
    box-shadow: none;
    /* font-family: 'Expert Sansz' !important; */
    font-size: 0.88rem !important;
    padding: 11px;
    letter-spacing: .055rem;
    text-transform: uppercase;
    border-radius: 0;
    transition: all .3s;
    display: inline-block;
    font-weight: 200;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    line-height: 1.5;
    width: 150px;

  }

  .bannerContent {
    position: absolute;
    width: 80%;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 23px;
    /* font-family: 'Expert Sans'; */
  }

}

.img-banner {
  min-width: 100% !important;
  height: auto;
}

.gridCtrl {
  padding: 9px;
  margin-top: 0px;
}
.gridCtrlMob {
  padding: 0px;
  margin-top: 70px;
}


.bannerStyle {
  position: 'absolute';
  width: '100%';
  top: '50%';
  left: '50%';
  transform: 'translate(-50%, -50%)';
  color: 'rgb(255, 255, 255)';
  text-align: 'center';
  font-size: '23px';
  /* font-family: 'Expert Sans'; */
}

.btnn-outline-secondary-light {
  cursor: pointer;
  padding: 10px;
  color: #fff8f8;
  background-color: transparent;
  background-image: none;
  border: 2px solid #f1ebeb !important;
  background: white;
  margin: 52px;
  width: 181px;
  /* font-size: 0.88rem !important; */

}

.btnn-outline-secondary-light:hover {
  background: #f7f1f1 !important;
  color: white !important;

}

.btnn {
  /* font-size: 15px; */
  /* font-family: 'Expert Sansz'; */
  font-size: 16.5 !important;
  color: #F1F1F2;
  letter-spacing: 3px;
  padding: 6%;
  text-transform: uppercase;
  border-radius: 1px;
  border: 1px solid #fff8f8;
  min-width: 124px;
  transition: all .3s;
  display: inline-block;
  /* font-weight: 400; */
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  line-height: 20px;
  background:transparent;
  margin-left:14px;
}


