<div class="container-fluid" style="margin-top: 60px">
    <h2 class="text-center"> Return & Refund Policy</h2><br>
    <div class="col-md-12">
      <p>Thank you for visiting and shopping at <a href="www.ucchalfashion.com">https://www.ucchalfashion.com™</a>. 
        Following are the terms and conditions that constitute our Shipping Policy.
         Our Shipping Policy is extremely simple and we have endeavored to make it even more transparent.</p>
        
         <h4>International Shipping Policy
          </h4> <br>
         <h6><b> Shipment processing time </b></h6>
<p>
All orders are processed within 15-20 business days. Orders are not shipped or delivered on weekends or holidays.
If we are experiencing a high volume of orders, shipments may be delayed by a few days. 
Please allow additional days in transit for delivery. 
If there will be a significant delay in shipment of your order, we will contact you via email or telephone. </p>


<h6><b>Shipping rates & delivery estimates</b></h6>
<p>
Shipping charges for your order will be calculated and displayed at checkout.</p>
<table class="table">
  <thead>
    <tr>
    <td>
        Shipment method (USA/Canada/UK)
        </td>
        <td>Billing Price (INR) Without GST</td>
        <td>
            Shipment cost
            </td> </tr>
  </thead>
  <tbody>
      <tr>
          <td>
              Bombino Express

              </td>
              <td> Upto  Rs.2000
                </td>
              <td>
               $7.14
                  </td> </tr>
                  <tr>
                      <td>
                          Bombino Express
            
                          </td>
                          <td>Greater Than Rs.2000
                            </td>
                          <td>
                         Free
                              </td> </tr>
  </tbody>
</table>
<p>* Express delivery is only available for orders with delivery addresses within the continental United States. </p>
<p>Delivery delays can occasionally occur.</p>
<p>    Shipment to P.O. boxes or APO/FPO addresses </p>
<p><a href="www.ucchalfashion.com">www.ucchalfashion.com</a> ships to addresses within the U.S., U.S. Territories, 
  and APO/FPO/DPO addresses.</p>

 
    <h6><b>  Shipment confirmation & Order tracking </b></h6>
      <p>
      You will receive a Shipment Confirmation email once your order has shipped containing your tracking number(s). 
      The tracking number will be active within 24 hours.
  </p>

  <h6><b>   Customs, Duties and Taxes </b></h6>
<p>
<a href="www.ucchalfashion.com">www.ucchalfashion.com</a> is not responsible for any customs and taxes applied to your order.
 All fees imposed during or after shipping is the responsibility of the customer (tariffs, taxes, etc.). </p>

 <h6><b>Damages</b></h6>
<p>
 <a href="www.ucchalfashion.com">www.ucchalfashion.com</a> is not liable for any products damaged or lost during shipping. If you received your order damaged, please contact the shipment carrier to file a claim.
 
 Please save all packaging materials and damaged goods before filing a claim. </p>
 
 <h6><b> SHIPPING CHARGES </b></h6>
<p>Shipping charges on our products shall be mentioned at the time of check out. 
  The said shipping charges are volumetric in nature and differ from product to product.</p>



  <h6><b>WHO HAS TO BEAR THE DUTY AND CUSTOM CHARGES </b></h6>
<p>A custom duty charge is decided by the Government of the destination country after arrival of the parcel.
   We hereby announce that the Custom Duty Charge has to be borne by the customer and is to be paid at the time of Delivery to our courier partner. 
   These taxes will be chargeable over and above the product/order price you pay on the e-shop.</p>

   <h6><b>CALCULATION OF SHIPPING CHARGES</b></h6>
<p>The said shipping charges are volumetric in nature and differ from product to product. 
  The shipping charges are calculated on the number of products as well as the weight of all the products in your order.
   You can view the shipping cost as you added product in cart.</p>



    </div>
</div>