.cartHeader {
  padding-top: 2%;
  font-weight: 500;
  text-align: center;
  color: #697071;
}


/* .registerSetup {
  margin-bottom: 5%;
} */

.sizeList {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -10px;
  /* margin-bottom: 45px; */
  outline: none;
}

.itemSelected {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  overflow: hidden;
  min-width: 50px;
  height: 45px;
  margin: 0 10px 10px 0;
  padding: 1px 0;
  font-size: 13px;
  line-height: 38px;
  cursor: pointer;
  color: #333;
  border: 2px solid black;
  border: 2px solid rgb(0, 0, 0) !important;
}
.sizStyle {
  width: 32px;
  height: 21px;
  margin: 5px;
  border: 1px solid gray;
  background-color: rgb(234, 248, 255);

}
.imgages{
  width: 100%;
  height: auto;
  
  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;

}

.xsizStyle {
  width: 32px;
  height: 21px;
  margin: 5px;
  border: 1px solid gray;
  background-color: #EAF8FF;
}


.textStyle {
  font-size: 11px;
  text-align: center;
  margin-top: 3px;
  /* font-family: 'Futura Book'; */
  font-weight: bold;
}



.xxlStyle {
  font-size: 11px;
  text-align: center;
  margin-top: 3px;
  margin-right: 5px
}

.text-cente {
  position: absolute;
  top: 88.4%;
  left: 50.1%;
  transform: translate(-50%, -50%);
  background: rgba(138, 138, 138, 0.966);
  width: 265px;
  margin: 0px 5px 5px 0px;
  padding: 10px 0px 0px 0px;
  cursor: pointer;

}

/* .text-center{
  position: absolute;
  top: 88.4%;
  left: 50.1%;
  transform: translate(-50%, -50%);
  background: rgba(138, 138, 138, 0.966);
  width: 265px;
  margin: 0px 5px 5px 0px;
  padding: 10px 0px 0px 0px;
  cursor: pointer;
  
} */
.header-titl {

  margin: 0px;
  padding: 0px;
  color: #555;
  font-size: 14px;
}

.uppercas {
  font-size: 10px;
  color: #334862;
  text-transform: uppercase;
}

.text-cente:hover {
  background: #7A5880;
  cursor: pointer;
}

.clasSi {
  padding: 11px;
}








.registerCard {
  margin: 3%;
  border-radius: 0;
  /* box-shadow: 0 0 4px rgb(34, 98, 194); */
  border: 1px solid #eaeaec;
}

.addButton {
  margin: 20px auto;
  border: 0.5px solid #d4d5d9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 800;
  color: #282f43;
  padding: 12px;
  text-align: center;
  width: 180px;
  cursor: pointer;
}

.listOfRow {
  background-color: white;
  margin-bottom: 6px;
  color: #696E79;
  display: block;
}

.actionClass {
  margin: auto;
  text-transform: uppercase;
  font-weight: 800;
  color: #696E79;
  padding: 5px;
  text-align: center;
  width: 180px;
  cursor: pointer;
}

.registerButton {
  background-color: #ffffff !important;
  color: #28344f;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 2px;
  display: block;
  width: 100%;
  text-transform: uppercase;
  border: 6px;
  border-radius: 30px;
}

/* .dropdown-item:hover,
.dropdown-item:focus {
  color: #ffff !important;
  text-decoration: none;
  background-color:  rgb(51, 51, 51);
  font-weight: bold;
  box-shadow: 0 4px 20px 0 rgb(51, 51, 51), 0 7px 10px -5px rgb(51, 51, 51);
} */
.gridRow {
  /* box-shadow: 0 1px 2px 0 #00000033, 0 1px 2px 0 rgba(0, 0, 0, .19); */
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 10px;
}

.gridPrice {
  box-shadow: 0 1px 2px 0 #00000033, 0 1px 2px 0 rgba(0, 0, 0, .19);
  background-color: #f6f6f6;
  border-radius: 3px;
  margin-bottom: 20px;
  padding-bottom: 50px;
  padding-top: 15px;
  padding-right: 3px;
  padding-left: 3px;

}

.gridImage {
  box-shadow: 0 1px 2px 0 #00000033, 0 1px 2px 0 rgba(0, 0, 0, .19);
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 10px;
  display: block;
  height: 100%;
  width: 100%;
}

.subHeaderTitle {
  font-size: 22px;
  line-height: 32px;
  display: inline-block;
  font-weight: 700;
}

.gridAddress {
  box-shadow: 0 1px 2px 0 #00000033, 0 1px 2px 0 rgba(0, 0, 0, .19);
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #282f43;
  height: 100%;
  padding: 10px;
}

.responsive {
  width: 100%;
  height: auto;
}



.addButton {
  margin: 20px auto;
  border: 0.5px solid #d4d5d9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 800;
  background-color: #f44336;
  color: #ffff;
  padding: 12px;
  text-align: center;
  width: 180px;
  cursor: pointer;
}

.displayNone {
  display: none;
}

.displayBlock {
  display: block;
}


.prev {
  left: 0;
  z-index: 100;
}

.next {

  right: 0;
  z-index: 100;
}

.multiPrev {
  left: 0;
  z-index: 100;
}

.multiNext {
  left: 0;
  z-index: 100;
}

/* Media query */

@media only screen and (max-width: 900px) {

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 30%;
    width: auto;
    padding: 5px;
    margin-top: -22px;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    transition: 1s ease;
    border-radius: 0 3px 3px 0;
    user-select: contain;
    display: block;
  }
}

@media only screen and (min-width: 900px) {

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 35%;
    width: auto;
    padding: 10px;
    margin-top: -22px;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 35px;
    transition: 1s ease;
    border-radius: 0 3px 3px 0;
    user-select: contain;
    display: block;
  }
}



/*  testing home */
.cartHeader {
  padding-top: 2%;
  font-weight: 500;
  text-align: center;
  color: #697071;
}


.registerSetup {
  margin-bottom: 5%;
  /* font-family:'HelveticaNeue' !important; */
}

.registerCard {
  margin: 3%;
  border-radius: 0;
  /* box-shadow: 0 0 4px rgb(34, 98, 194); */
  border: 1px solid #eaeaec;
}

.addButton {
  margin: 20px auto;
  border: 0.5px solid #d4d5d9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 800;
  color: #282f43;
  padding: 12px;
  text-align: center;
  width: 180px;
  cursor: pointer;
}

.listOfRow {
  background-color: white;
  margin-bottom: 6px;
  color: #696E79;
  display: block;
}

.actionClass {
  margin: auto;
  text-transform: uppercase;
  font-weight: 800;
  color: #696E79;
  padding: 5px;
  text-align: center;
  width: 180px;
  cursor: pointer;
}

.registerButton {
  background-color: #28344f !important;
  color: #282f43;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 2px;
  display: block;
  width: 100%;
  text-transform: uppercase;
  border: 6px;
  border-radius: 30px;
  font-family: 'Futura Book';
}

.gridRow {
  /* box-shadow: 0 1px 2px 0 #00000033, 0 1px 2px 0 rgba(0, 0, 0, .19); */
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 10px;
}

.gridPrice {
  box-shadow: 0 1px 2px 0 #00000033, 0 1px 2px 0 rgba(0, 0, 0, .19);
  background-color: #f6f6f6;
  border-radius: 3px;
  margin-bottom: 20px;
  padding-bottom: 50px;
  padding-top: 15px;
  padding-right: 3px;
  padding-left: 3px;

}

.gridImage {
  box-shadow: 0 1px 2px 0 #00000033, 0 1px 2px 0 rgba(0, 0, 0, .19);
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 10px;
  display: block;
  height: 100%;
  width: 100%;
}

.subHeaderTitle {
  font-size: 22px;
  line-height: 32px;
  display: inline-block;
  font-weight: 700;
}

.gridAddress {
  box-shadow: 0 1px 2px 0 #00000033, 0 1px 2px 0 rgba(0, 0, 0, .19);
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #282f43;
  height: 100%;
  padding: 10px;
}

.responsive {
  width: 100%;
  height: auto;
}

.addToCartButton {
  display: block;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 13px;
  width: 100%;
  cursor: pointer;
  border: none;
  padding: 5px 5px;
  background-color: #28334f;
  height: 40px;
  /* font-family: 'HelveticaNeue'; */
}

.addButton {
  margin: 20px auto;
  border: 0.5px solid #d4d5d9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 800;
  background-color: #f44336;
  color: #ffff;
  padding: 12px;
  text-align: center;
  width: 180px;
  cursor: pointer;
}

.displayNone {
  display: none;
}

.displayBlock {
  display: block;
}


.prev {
  left: 0;
  z-index: 100;
}

.next {

  right: 0;
  z-index: 100;
}

.multiPrev {
  left: 0;
  z-index: 100;
}

.multiNext {
  left: 0;
  z-index: 100;
}

/* Media query */

@media only screen and (max-width: 900px) {

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 30%;
    width: auto;
    padding: 5px;
    margin-top: -22px;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    transition: 1s ease;
    border-radius: 0 3px 3px 0;
    user-select: contain;
    display: block;
  }
}

@media only screen and (min-width: 900px) {

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 35%;
    width: auto;
    padding: 10px;
    margin-top: -22px;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 35px;
    transition: 1s ease;
    border-radius: 0 3px 3px 0;
    user-select: contain;
    display: block;
  }
}

body {
  font: 13px/22px, Arial;
  font-family:  Arial;
  font-weight: normal;
  font-size: 13px;
  letter-spacing: 0.025em;
  color: black;
}


/*  testing home */

/* .dani {
  display: flex;
  width: 990px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 200px;
  font-family: Open;
  color: rgb(105, 105, 105);
  margin-top: 20px;

}
.dani:before,
.dani:after {
  content: '';
  border-top: 2px solid;
  margin: 0 20px 0 0;
  flex: 2 0 20px;
}

.dani:after {
  margin: 0 0 0 20px;
}
.dani{
  text-align: center;
  font-family: 'Futura Book';
  color: rgb(190, 190, 190);
  font-size: 22px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 20px;
} */


/*space--Container*/
.gridSpace {
  margin-top: 15px;
}

/* -----xxxxxx---- */
/* Strip-Compo */
.mensColect {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: 100px;
  letter-spacing: 2px;
  font-family:Arial;
  color: black;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0px;
}

.mensColect:before,
.mensColect:after {
  content: '';
  border-top: 1px solid;
  margin: 0 20px 0 0;
  flex: 2 0 40px;
  color: black !important;
}

.mensColect:after {
  margin: 0 0 0 20px;
}

.mensCrip {

  text-align: center;
  font-size: 13px;
  letter-spacing: 1.3px;
  color: black;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 2.5px;
  /* font-family:'HelveticaNeue'; */
  cursor: pointer;
}

.proName {
  text-align: center;
  /* font-family: 'HelveticaNeue'; */
  margin: 0px !important;
  color: #3b3b3b;
  font-size: 16px;
  font-weight: 500;
  margin-top: 6px !important;

}

.priZe {
  text-align: center;
  margin: 0px;
  padding: 0px;
  color: #919191;
  text-transform: capitalize;
  margin-top: 6px;
  margin-bottom: 0px;
  font-weight: 600;

}

.mEn {
  margin-top: 6px;
  text-align: center;
  color: #919191;
  /* font-family: 'HelveticaNeue'; */
  text-transform: capitalize;
  margin-top: 5px;
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 13px;
}

/* end strip compo */
/* ------------------- */
/* Srtip-Comp */
.img-respons {
  max-width: 100%;
  height: auto;
}

.womenCollt {
  text-align: center;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bolder;
  /* font-family: 'HelveticaNeue'; */
  color: black;
  letter-spacing: 0.1rem;
  padding-left: 30px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.womenCollt:before,
.womenCollt:after {
  content: '';
  border-top: 1px solid;
  margin: 0 20px 0 0;
  flex: 2 0 40px;
  color: rgb(119, 119, 119) !important;

}

.womenCollt:after {
  margin: 0 0 0 20px;
}




.imgProduct {
  max-width: 100%;
  height: auto;
}

/* strip-End */
/* ------------- */
/* Cat-Content */
.img-content {
  width: 100%;
  height: 220px;
  box-shadow: 0 1px 5px 0 #00000063, 0 1px 2px 0 rgba(0, 0, 0, .19);
}

/* Cat-Content-End */

/* SubsCribe-Start */
.img-category {
  width: 100%;
  height: auto;
}

.ourCetego {
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 26;
  letter-spacing: 0.1rem;
  /* padding-left: 30px; */
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: rgb(175, 170, 170);
  margin-top: 0px;

}

.ourCetego:before,
.ourCetego:after {
  content: '';
  border-top: 1px solid;
  margin: 0 20px 0 0;
  /* flex: 2 0 40px; */
  color: rgb(119, 119, 119) !important;

}

.ourCetego:after {
  margin: 0 0 0 20px;
}







/*  SubsCribe-End */

/* review-Start */


.newsLater {
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bolder;
  font-family: 'Futura Book';
  color: black;
  letter-spacing: 0.1rem;
  padding-left: 30PX;
}


.newsLater {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #232323;
  margin-top: 0px;

}

.newsLater:before,
.newsLater:after {
  content: '';
  border-top: 2px solid;
  margin: 0 20px 0 0;
  flex: 2 0 40px;
  color: rgb(119, 119, 119) !important;

}

.newsLater:after {
  margin: 0 0 0 20px;
}

.spaceOrig {
  margin-top: 10px;
}

.card {
  max-width: 100%;
  margin: 0px;
}

.mat-card {
  width: 100%;
}

.newsImg {
  max-width: 100%;
  height: auto;
}


/* Banner */

.imageBanner {
  max-width: 100%;
  height: auto;
}

.insTA {
  margin: 8px;
}

/* @media max-width */

@media only screen and (max-width: 900px) {
  .mensCrip {

    text-align: center;
    font-size: 10px;
    letter-spacing: 1.3px;
    color: black;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 2.5px;
    /* font-family:'HelveticaNeue'; */
    cursor: pointer;
  }

  .spaceCtrl {
    margin-top: 15px;
  }

  .newsLater {
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bolder;
    font-family: 'Futura Book';
    color: black;
    letter-spacing: 0.1rem;
    padding-left: 30px;
    display: flex;
    width: 320px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #232323;
    margin-top: 0px;
  }

  .newsLater:before,
  .newsLater:after {
    content: '';
    border-top: 1px solid;
    margin: 0 20px 0 0;
    flex: 2 0 40px;
  }

  .newsLater:after {
    margin: 0 0 0 20px;
  }

  .ourCetego {
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
    color: rgb(145, 140, 140);
    letter-spacing: 0.1rem;
    padding-left: 0px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0px;

  }
  .ourCetego:before,
  .ourCetego:after {
    content: '';
    border-top: 1px solid;
    margin: 0 20px 0 0;
    flex: 2 0 40px;
  }

  .ourCetego:after {
    margin: 0 0 0 20px;
  }


  .womenCollt {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bolder;
    font-family: 'Futura Book';
    color: black;
    letter-spacing: 0.1rem;
    padding-left: 0PX;
  }

  .womenCollt {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #232323;
    margin-top: 20px;

  }

  .womenCollt:before,
  .womenCollt:after {
    content: '';
    border-top: 1px solid;
    margin: 0 20px 0 0;
    flex: 2 0 40px;
  }

  .womenCollt:after {
    margin: 0 0 0 20px;
  }

  .mensColect {
    text-align: center;
    text-transform: uppercase;
    font-weight: 100px;
    font-size: 13px;
    letter-spacing: 2px;
    color:black;
    /* font-family:'HelveticaNeue' !important; */
  }


  .mensColect {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    margin-top: 0px;

  }

  .mensColect:before,
  .mensColect:after {
    content: '';
    border-top: 1px solid;
    margin: 0 30px 0 0;
    flex: 2 0 40px;

  }

  .mensColect:after {
    margin: 0 0 0 20px;


  }

}









/* @media max-width--End */
/* --------------------------------- */
/* @media min-width */
@media only screen and (min-width: 900px) {

  /*   .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */
}

/* @media min-width-End */


.img-banner {
  max-width: 100% !important;
  height: auto;
}

.navbar-light .navbar-toggler {
  border: 0px solid black;

}
.button {
  background-color: #28334f;
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 25px;
  width: 200px;
  height: 40px;
  border-radius: 0px !important;
}
.button {
  background-color: #28334f;
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  /* margin-left: 25px; */
  width: 150px;
  font-size: 15px !important;
  height: 40px;
}
.pointerClass{
  cursor: hand;
}
.button:hover{
background: #333;
}



.imageResponsive {
  display: block;
  max-width: 100%;

}

.productBox .productImg {
  height: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.productBox .productImg img:last-child {
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.changeMatIconColor {
  font-size: 14px;
  background: #29495B !important;
}
.productBox .productImg img {
  width: 100%;
}
.productBox .productImg img:first-child {
  display: block;
  /* height: 100%; */
  width: 100%;
}

.productBox .productDetails .productPriceBox {
  color: rgba(45,45,45,.5);
  font-size: 12px;
  line-height: 18px;
  padding: 5px 0;
  position: relative;
}
.productBox .productDetails {
  overflow: hidden;
  padding: 5px 0 0;
  width: 100%;
}

.productBox {
  margin-bottom: 10px;
  width: 100%;
}
/* mat-icon{
  font-size: 14px !important;
  height: 16px;
  width: 16px;
}
 */

.alignedRelative {
  position: relative;
  top: 0px;
  letter-spacing: 1px;
  /* margin-left: 4px; optional */
  /* font-family:'HelveticaNeue'; */
  font-size: 12px;
}

.productBox .productDetails .productName {
  /* line-height: 16px;
  font-weight: 600; */
  font-size: 14px;
  font-weight: 400px !important;
  margin-bottom: 2% !important;
  letter-spacing: 1px;
  text-align: center;
  color: black;
  /* font-family: 'HelveticaNeue'; */
  text-transform: capitalize;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.productTop {
  font-size: 14px;
  font-weight: 100px !important;
  margin-bottom: 0% !important;
  letter-spacing: 1px;
  text-align: center;
  color: #6D6E71;
  /* font-family:'HelveticaNeue'; */
}
/* .productBoxHover {
  box-shadow: 0 5px 5px 0 rgba(206, 206, 206, 0.555), 0 4px 8px 0 rgba(204, 204, 204, 0.582);
} */
.productBox .productDetails .productPriceBox .productPrice {
  color: red;
  text-align: center;
  font-size: 14px;
  /* font-family: 'HelveticaNeue'; */
}

.productBox .productImg .productActionLeft {
  /* left: 8px; */
  /* padding-top: 1.5%;
  padding-bottom: 5%;
  padding-left: 11%;
  padding-right: 2%; */
  padding: 5%;
  position: absolute;
  /* right: 0; */
  bottom: 7px;
  width: 100%;
  background: #EEDBDF;
  cursor: pointer;
  opacity: 0.9;
  text-align: center;
}
.productBox .productImg .productActionLeft  .addtoProduct {
  cursor: pointer;
  float: right;
  /* font-family: 'HelveticaNeue'; */
  padding-top: 5%;
  padding-right: 6%;
  font-size: 12px;
  text-align: center;
  color: black;
}
.productBox .productImg .productActionLeft .wishProduct {
  cursor: pointer;
  /* float: left; */
  /* padding-top: 8%; 
  padding-left: 6%; */
  font-size: 14px;
  /* font-family: 'HelveticaNeue'; */
  text-align: center;
  color: black;
}
.productBox .productImg .productActionLeft  .wishProduct:after {
	/* border-right: 0.5px solid white; */
	content: "";
	display: block;
	width: 1px;
  position: absolute;
  bottom: 0px;
  top: 0px;
  /* left: 50%; */
	right: 0%;
}
/* .productBox .productImg .productActionRight  .wishProduct:after {
	border-right: 2px solid white;
	content: "";
	display: block;
	width: 1px;
  position: absolute;
  bottom: 0px;
  top: 0px;
  left: 50%;
	right: 50%;
} */
/* .productBox .productImg .productActionRight {
  left: 0;
  padding-top: 4%;
  padding-bottom: 5%;
  padding-left: 3%;
  padding-right: 10%;
  position: absolute;
  right: 2%;
  bottom: 7px;
  width: 47%;
  background: #EEDBDF;
  cursor: pointer;
  opacity: 0.9;
  color: black;
}
.productBox .productImg .productActionRight  .addtoProduct {
  cursor: pointer;
  float: right;
  font-family: 'HelveticaNeue';
  padding-top: 3%;
  padding-right: 6%;
  font-size: 12px;
  text-align: center;
  color: black;
} */

.productTesting {
  position: relative;
  float: inline-start;
  background-color: white;
  opacity: 0.5px;
  z-index: 1;
  margin-top: -59px;
}
.sizeHeader {
  padding: 8px;
  padding-left: 10px;
  text-align: left;
  font-size: 14px;
  color: #535766;
  position: relative;
  cursor: pointer;
}
.sizeTesting {
  /* text-align: center; */
  padding: 5px 10px 10px;
  overflow-y: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-height: 108px;
  position: relative;
}
.oneSize {
  -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin: 5px;
    min-width: 34px;
    display: inline-block;
    width: 34px;
    min-height: 34px;
    background-color: #FFFFFF;
    border: solid 1px #BFC0C6;
    outline: none;
    font-size: 12px;
    /* color: #696e79; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    position: relative;
    cursor: pointer;
    text-align: center;
    padding-top: 8px;
}
.fullPrice {
  text-decoration: line-through;
  font-size: 12px;
  color: black;
}

/* color variant  */


.productAction {
  left: 0;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 7%;
  padding-right: 7%;
  right: 0;
  bottom: 0;
  width: 100%;
  color: #ffff;
  background: #28334f;
  cursor: pointer;
}


.colorBox {
  margin-top: 10px;
}
.colorVariantBlock {
  /* -ms-transform: rotate(140deg); */
  /* border-radius: 50px; */
  cursor: pointer;
  height: 50px;
  overflow: hidden;
  /* transform: rotate(140deg); */
  width: 50px;
}
.colorbttn {
  border: 1px solid #ebebeb;
  float: left;
  margin: 0 15px 15px 0;
}

.backgroundColorImage {
cursor: pointer;
height: 50px;
overflow: hidden;
/* transform: rotate(140deg); */
width: 50px;
border: 1px solid #ff4081;
}
.grumpy-image-wrapper {
  width: 100%;
  height: 0;
  padding-bottom: 144.7%;
  border: 2px solid white; /* simply to show you the collapsed state for this demo */
}
.grumpy-image {
  width: 100%;
}