<div class="container gridSpace">
  <h1 class="womenCollt">{{this.title}}</h1>
  <h6 class="mensCrip">{{this.description}}</h6>
  <div class="gridCovers">
    <div class="row">
      <div class="col-md-3 col-lg-3 col-xl-3 col-6" >
        <a (click)="detailView(firstFrame._id)">
          <div class="spaceCtrl">
            <img [src]="productImageUrl + firstFrame._id + '/' +firstFrame.productImageName[0]" class="imgProduct">
            <h6 style="text-align: center; margin-top: 8px; margin: 2px;">
              <div class="example-button-row" >
                <h6 style="padding-left: 10px;">
                <button mat-mini-flat class='sizStyle' *ngFor="let val of firstFrame.productVariant">
                  <span class='textStyle'>{{val.sizeName}}</span>
                </button>
              </h6>
              </div>
            </h6>
            <h6 class="mEnZ">
              {{firstFrame.material}}
            </h6>
            <p class="proName">
              {{firstFrame.productName}}
            </p>
            <div>
            </div>
            <p class="priZe">
              ₹ {{firstFrame.price}}
            </p>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-lg-3 col-xl-3 col-6" >
        <a (click)="detailView(secondFrame._id)">
          <div class="spaceCtrl">
            <img [src]="productImageUrl + secondFrame._id + '/' +secondFrame.productImageName[0]" class="imgProduct">
            <h6 style="text-align: center; margin-top: 8px; margin: 2px;">
              <div class="example-button-row" >
                <h6 style="padding-left: 10px;">
                <button mat-mini-flat class='sizStyle' *ngFor="let val of secondFrame.productVariant">
                  <span class='textStyle'>{{val.sizeName}}</span>
                </button>
              </h6>
              </div>
            </h6>
            <h6 class="mEnZ">
              {{secondFrame.material}}
            </h6>
            <p class="proName">
              {{secondFrame.productName}}
            </p>
            <div>
            </div>
            <p class="priZe">
              ₹ {{secondFrame.price}}
            </p>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-lg-3 col-xl-3 col-6" >
        <a (click)="detailView(thirdFrame._id)">
          <div class="spaceCtrl">
            <img [src]="productImageUrl + thirdFrame._id + '/' +thirdFrame.productImageName[0]" class="imgProduct">
            <h6 style="text-align: center; margin-top: 8px; margin: 2px;">
              <div class="example-button-row" >
                <h6 style="padding-left: 10px;">
                <button mat-mini-flat class='sizStyle' *ngFor="let val of thirdFrame.productVariant">
                  <span class='textStyle'>{{val.sizeName}}</span>
                </button>
              </h6>
              </div>
            </h6>
            <h6 class="mEnZ">
              {{thirdFrame.material}}
            </h6>
            <p class="proName">
              {{thirdFrame.productName}}
            </p>
            <div>
            </div>
            <p class="priZe">
              ₹ {{thirdFrame.price}}
            </p>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-lg-3 col-xl-3 col-6" >
        <a (click)="detailView(forthFrame._id)">
          <div class="spaceCtrl">
            <img [src]="productImageUrl + forthFrame._id + '/' +forthFrame.productImageName[0]" class="imgProduct">
            <h6 style="text-align: center; margin-top: 8px; margin: 2px;">
              <div class="example-button-row" >
                <h6 style="padding-left: 10px;">
                <button mat-mini-flat class='sizStyle' *ngFor="let val of forthFrame.productVariant">
                  <span class='textStyle'>{{val.sizeName}}</span>
                </button>
              </h6>
              </div>
            </h6>
            <h6 class="mEnZ">
              {{forthFrame.material}}
            </h6>
            <p class="proName">
              {{forthFrame.productName}}
            </p>
            <div>
            </div>
            <p class="priZe">
              ₹ {{forthFrame.price}}
            </p>
          </div>
        </a>
      </div>


    </div>
  </div>