<form [formGroup]="measurementForm">
<div class="container pt-5 text-center">
  <div class="row" *ngIf="!showReview">
  <div class="col-md-4"></div>
    <div class="col-md-4 form-group text-center">
        <mat-form-field>
            <mat-label>Measurement Name</mat-label>
            <mat-select (selectionChange)="measurmentSelected($event)">
              <mat-option value="createNew">Create New</mat-option>
              <mat-option *ngFor="let data of container" [value]="data">
                {{data.measurementName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div class="col-md-4"></div>
    
    <div class="col-md-12 text-center pa colr">
      <h4>Measurement Fit</h4>
    </div>
    
    <div class="col-md-6 pa bor1"  *ngFor="let data of measurementData?.measurementType;let i of index" >
        <mat-radio-group (change)="changeEventType($event, data , measurementData?.measurementType)" aria-label="Select an option"
        [ngModel]="measurementModel?.typeName"  formControlName="typeName" required >
            <mat-radio-button [checked]="data.checked" [value]="data" checked><h6  class="pt-2">{{data.typeName}}</h6></mat-radio-button> <br>
            {{data.typeDescription}}
          </mat-radio-group>
          
          <!-- <p> {{data.typeDescription}} </p> -->
         
    </div>
    <div class="bg" *ngIf="measurementForm.controls['typeName'].errors?.required &&  measurementForm.dirty" >Select Measurement Type</div>
    <br>
    <div class="col-md-12 mt-4">
    <div class="row bor mx-auto form-group"  *ngFor="let data of measurementData?.aroundBust">
      <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Around Bust</label> <br>
      <div class="col-md-12">
      <label>{{data.min}}</label> &nbsp;&nbsp;
        <mat-slider   thumbLabel formControlName="aroundBust" 
        [ngModel]="measurementModel?.aroundBust || aroundMax"
        min="{{data.min}}" max="{{data.max}}" step="1" [(ngModel)]="aroundMax" required></mat-slider> 
         &nbsp;&nbsp; <label>{{data.max}}</label>  
         &nbsp;&nbsp;
        <input class="text-center"type="text" [value]="aroundMax || null" 
         (keyup)="inputV($event, data.max,data.min)" style="width: 50px;padding: 5px;"> &nbsp; &nbsp; inches
        &nbsp;&nbsp; <button class="btn" (click)="view()"><mat-icon>info</mat-icon></button> 
        
        <div class="bg" *ngIf="aroundMaxIn=== true ">Not within Range</div>
        
        
      <div [hidden]="!show">
        <div class="row">
          <div class="col-md-6">
              <img [src]="measurmentUrl + measurementData._id + '/' + data.imageName" style="width: 400px;">
          </div>
          <div class="col-md-6 mauto">
              {{data.description}}
          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="row bor mx-auto form-group" *ngFor="let data of measurementData?.aroundAboveWaist">
        <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Around Waist</label> <br>
        <div class="col-md-12">
        <label>{{data.min}}</label> &nbsp;&nbsp;
          <mat-slider   thumbLabel formControlName="aroundAboveWaist"  [ngModel]="measurementModel?.aroundAboveWaist || aroundAbWaist"
          min="{{data.min}}" max="{{data.max}}" step="1" [(ngModel)]="aroundAbWaist" required></mat-slider>
           &nbsp;&nbsp; <label>{{data.max}}</label> 
          &nbsp;&nbsp;
          <input class="text-center" type="text" [value]="aroundAbWaist || null" (keyup)="inputW($event, data.max,data.min)" style="width: 50px;padding: 5px;"> &nbsp; &nbsp; inches
          <button class="btn" (click)="view1()"><mat-icon>info</mat-icon></button> 
          <div class="bg" *ngIf="aroundWaistIn=== true">Not within Range</div>
          <div [hidden]="!show1">
              <div class="row">
                  <div class="col-md-6">
                      <img [src]="measurmentUrl + measurementData._id + '/' + data.imageName" style="width: 400px;">
                  </div>
                  <div class="col-md-6 mauto">
                      {{data.description}}
                  </div>
                </div>
            </div>
            </div>
      </div>
      <div class="row bor mx-auto form-group" *ngFor="let data of measurementData?.blouseLength">
          <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Blouse Length</label> <br>
          <div class="col-md-12">
          <label>{{data.min}}</label> &nbsp;&nbsp;
            <mat-slider   thumbLabel formControlName="blouseLength" [ngModel]="measurementModel?.blouseLength || blouseLeng"
            min="{{data.min}}" max="{{data.max}}" step="1" [(ngModel)]="blouseLeng" required></mat-slider>
             &nbsp;&nbsp; <label>{{data.max}}</label> 
             &nbsp;&nbsp;
            <input class="text-center" type="text" [value]="blouseLeng || null" (keyup)="inputB($event, data.max,data.min)"  style="width: 50px;padding: 5px;">  &nbsp; &nbsp; inches
            &nbsp;&nbsp; <button class="btn" (click)="view2()"><mat-icon>info</mat-icon></button> 
            <div class="bg" *ngIf="blouseIn=== true">Not within Range</div>
            <div [hidden]="!show2">
                <div class="row">
                    <div class="col-md-6">
                        <img [src]="measurmentUrl + measurementData._id + '/' + data.imageName" style="width: 400px;">
                    </div>
                    <div class="col-md-6 mauto">
                        {{data.description}}
                    </div>
                  </div>
              </div>
              </div>
        </div>
        <div class="row bor mx-auto form-group" >
            <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Front Neck Style</label> <br>
          <div class="col-md-12">
            <div class="row">
            <app-carousel-item>
            <div appCarouselItem class="col-md-3 mx-auto" *ngFor="let data of measurementData?.frontNeckStyle; let i of index">
              <div class="row">
                <div class="col-md-12">
                    <img  [src]="data.imageName" style="width: 120px;">
                </div>
                <div class="col-md-12">
                    <mat-radio-group (change)="changeEvent($event, data)" formControlName="frontNeckStyle"
                    [ngModel]="measurementModel?.frontNeckStyle"
                    aria-labelledby="example-radio-group-label" class="example-radio-group">
                    <mat-radio-button class="example-radio-button" [value]="data.title" 
                    [checked]="data.title === ratioCheckEvent"
                    >
                      {{data.title}}
                    </mat-radio-button>
                  </mat-radio-group>
                  </div>
              </div>
                
            
          </div>
          </app-carousel-item>
          </div>
          </div>
          
        </div>
        <div class="row bor mx-auto form-group" *ngFor="let data of measurementData?.frontNeckDepth">
            <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Front Neck Depth</label> <br>
            <div class="col-md-12">
            <label>{{data.min}}</label> &nbsp;&nbsp;
              <mat-slider   thumbLabel formControlName="frontNeckDepth" [ngModel]="measurementModel?.frontNeckDepth || frontNeckDep"
              min="{{data.min}}" max="{{data.max}}" step="1" [(ngModel)]="frontNeckDep" required></mat-slider>
                &nbsp;&nbsp; <label>{{data.max}}</label> 
                &nbsp;&nbsp; 
                <input class="text-center" type="text" [value]="frontNeckDep || null" (keyup)="inputFN($event, data.max,data.min)" style="width: 50px;padding: 5px;"> &nbsp; &nbsp; inches
              &nbsp;&nbsp; <button class="btn" (click)="view3()"><mat-icon>info</mat-icon></button> 
              <div class="bg" *ngIf="fnIn=== true">Not within Range</div>
              <div [hidden]="!show3">
                  <div class="row">
                      <div class="col-md-6">
                          <img [src]="measurmentUrl + measurementData._id + '/' + data.imageName" style="width: 400px;">
                      </div>
                      <div class="col-md-6 mauto">
                          {{data.description}}
                      </div>
                    </div>
                </div>
                </div>
          </div>
          <div class="row bor mx-auto form-group" >
              <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Back Neck Style</label> <br>
              <div class="col-md-12">
                <div class="row">
                  <app-carousel-item>
                <div appCarouselItem class="col-md-3"  *ngFor="let data of measurementData?.backNeckStyle">
                
                    <div class="row">
                        <div class="col-md-12">
                            <img  [src]="data.imageName" style="width: 120px;">
                        </div>
                        <div class="col-md-12">
                            <mat-radio-group (change)="changeEvent1($event, data)" [ngModel]="measurementModel?.backNeckStyle" formControlName="backNeckStyle"
                    
                            aria-labelledby="example-radio-group-label" class="example-radio-group">
                            <mat-radio-button class="example-radio-button" [value]="data.title" 
                            [checked]="data.title === ratioCheckEvent1"
                            >
                              {{data.title}}
                            </mat-radio-button>
                          </mat-radio-group>
                          </div>
                      </div>
                    </div>
              </app-carousel-item>
              </div>
              </div>
              
            </div>
            <div class="row bor mx-auto form-group" *ngFor="let data of measurementData?.backNeckDepth">
                <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Back Neck Depth</label> <br>
                <div class="col-md-12">
                <label>{{data.min}}</label> &nbsp;&nbsp;
                  <mat-slider   thumbLabel formControlName="backNeckDepth" [ngModel]="measurementModel?.backNeckDepth || backNeckDep"
                  min="{{data.min}}" max="{{data.max}}" step="1" [(ngModel)]="backNeckDep" required></mat-slider>
                  &nbsp;&nbsp; <label>{{data.max}}</label> 
                  &nbsp;&nbsp;
                  <input class="text-center" type="text" [value]="backNeckDep || null" (keyup)="inputBN($event, data.max,data.min)" style="width: 50px;padding: 5px;"> &nbsp; &nbsp; inches
                  &nbsp;&nbsp; <button class="btn" (click)="view4()"><mat-icon>info</mat-icon></button>
                  <div class="bg" *ngIf="bnIn=== true">Not within Range</div>
                  <div [hidden]="!show4">
                      <div class="row">
                          <div class="col-md-6">
                              <img [src]="measurmentUrl + measurementData._id + '/' + data.imageName" style="width: 400px;">
                          </div>
                          <div class="col-md-6 mauto">
                              {{data.description}}
                          </div>
                        </div>
                    </div>
                    </div>
              </div>
              <div class="row bor mx-auto form-group" >
                  <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Sleeve Style</label> <br>
                  <div class="col-md-12">
                    <div class="row">
                      <app-carousel-item>
                    <div appCarouselItem class="col-md-3"  *ngFor="let data of measurementData?.sleeveStyle">
                        <div class="row">
                            <div class="col-md-12">
                                <img  [src]="data.imageName" style="width: 120px;">
                            </div>
                            <div class="col-md-12">
                                <mat-radio-group (change)="changeEvent2($event, data)" formControlName="sleeveStyle"
                                [ngModel]="measurementModel?.sleeveStyle"
                                aria-labelledby="example-radio-group-label" class="example-radio-group">
                                <mat-radio-button class="example-radio-button" [value]="data.title" 
                                [checked]="data.title === ratioCheckEvent2"
                                >
                                  {{data.title}}
                                </mat-radio-button>
                              </mat-radio-group>
                              </div>
                          </div>
                        </div>
                    
                  </app-carousel-item>
                  </div>
                  </div>
                  
                </div>
                <div class="row bor mx-auto form-group" *ngFor="let data of measurementData?.backNeckDepth">
                    <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Sleeve Length</label> <br>
                    <div class="col-md-12">
                    <label>{{data.min}}</label> &nbsp;&nbsp;
                      <mat-slider   thumbLabel formControlName="sleeveLenth" [ngModel]="measurementModel?.sleeveLenth || sleevLen"
                      min="{{data.min}}" max="{{data.max}}" step="1" [(ngModel)]="sleevLen" required></mat-slider>
                      &nbsp;&nbsp; <label>{{data.max}}</label> 
                      &nbsp;&nbsp;
                      <input class="text-center" type="text" [value]="sleevLen || null" (keyup)="inputSleeve($event, data.max,data.min)" style="width: 50px;padding: 5px;"> &nbsp; &nbsp; inches
                      &nbsp;&nbsp; <button class="btn" (click)="view5()"><mat-icon>info</mat-icon></button> 
                      <div class="bg" *ngIf="sleeveIn=== true">Not within Range</div>
                      <div [hidden]="!show5">
                          <div class="row">
                              <div class="col-md-6">
                                  <img [src]="measurmentUrl + measurementData._id + '/' + data.imageName" style="width: 400px;">
                              </div>
                              <div class="col-md-6 mauto">
                                  {{data.description}}
                              </div>
                            </div>
                            </div>
                        </div>
                  </div>
                  <div class="row bor mx-auto form-group" *ngFor="let data of measurementData?.aroundArm">
                      <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Around Arm</label> <br>
                      <div class="col-md-12">
                      <label>{{data.min}}</label> &nbsp;&nbsp;
                        <mat-slider   thumbLabel formControlName="aroundArm" [ngModel]="measurementModel?.aroundArm || aroundAr"
                        min="{{data.min}}" max="{{data.max}}" step="1" [(ngModel)]="aroundAr" required></mat-slider>
                        &nbsp;&nbsp; <label>{{data.max}}</label> 
                        &nbsp;&nbsp;
                        <input class="text-center" type="text" [value]="aroundAr || null" (keyup)="inputArm($event, data.max,data.min)" style="width: 50px;padding: 5px;">&nbsp; &nbsp; inches
                        &nbsp;&nbsp; <button class="btn" (click)="view6()"><mat-icon>info</mat-icon></button>  
                        <div class="bg" *ngIf="armIn=== true">Not within Range</div>
                        <div [hidden]="!show6">
                            <div class="row">
                                <div class="col-md-6">
                                    <img [src]="measurmentUrl + measurementData._id + '/' + data.imageName" style="width: 400px;">
                                </div>
                                <div class="col-md-6 mauto">
                                    {{data.description}}
                                </div>
                              </div>
                          </div>
                          </div>
                    </div>
                    <div class="col-md-12">
                    <div class="row bor mx-auto ">
                      <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Closing Side</label> <br>
                      <div class="col-md-12"> 
                      <mat-radio-group class="pa float-left" [ngModel]="measurementModel?.closingSide" aria-label="Select an option" formControlName="closingSide" 
                        >
                            <mat-radio-button  class="pa" *ngFor="let data of measurementData?.closingSide" [value]="data">{{data}}</mat-radio-button>
                          </mat-radio-group>
                          </div>
                    </div>
                    <br>
                    <div class="row bor mx-auto ">
                        <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span> Closing With</label> <br>
                        <div class="col-md-12">  
                        <mat-radio-group  class="pa float-left" [ngModel]="measurementModel?.closingWith" aria-label="Select an option" formControlName="closingWith" >
                              <mat-radio-button  class="pa" *ngFor="let data of measurementData?.closingWith" [value]="data">{{data}}</mat-radio-button>
                            </mat-radio-group>
                            </div>
                      </div> 
                      <br>
                      <div class="row bor mx-auto">
                          <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Lining</label> <br>
                          <div class="col-md-12"> 
                          <mat-radio-group class="pa float-left" [ngModel]="measurementModel?.lining" aria-label="Select an option" formControlName="lining" >
                                <mat-radio-button  class="pa" *ngFor="let data of measurementData?.lining" [value]="data">{{data}}</mat-radio-button>
                              </mat-radio-group>
                              </div>
                        </div>
                        </div>
                        </div>
                        <br>
                        <div class="col-md-12 form-group">
                          <label><h4><b class="float-left">Special Comment</b></h4></label>
                            <mat-form-field >
                              <textarea class="bor" matInput cols="30" [ngModel]="measurementModel?.specialInstruction" formControlName="specialInstruction" rows="10"></textarea>
                            </mat-form-field>
                        </div>
                        <div class=" col-md-12 mb-2 bg" *ngIf="ale === true">Enter all the Details</div>
                        <div class="col-md-12">
                          <button class="btn btn-primary float-left" (click)="goBack()">Cancel/Return</button>
                          <button class="btn btn-primary float-right" *ngIf="!isSaved" (click)="getReview()">Review & Submit</button>
                          <button class="btn btn-primary float-right" *ngIf="isSaved" (click)="getReviewBySaved()">Review & Submit</button>
                        </div>
                     
  </div>

  <div class="row" *ngIf="showReview">
      <div class="col-md-12 form-group">
          <mat-form-field class="measurementname">
              <mat-label>Enter Measurement Name</mat-label>
              <input  matInput placeholder="Measurement Name" #measuName>
              <p class="measurementnameEx">ex:(Blouse Measurement)</p>
            </mat-form-field>
            
      </div>
    <div class="col-md-4 form-group">
      <label>Type</label>
    </div>
    <div class="col-md-8 form-group">
      {{temp.typeName.typeName}}
    </div>
    <div class="col-md-4 form-group">
        <label>Around Bust</label>
      </div>
      <div class="col-md-8 form-group">
        {{temp?.aroundBust}}
      </div>
      <div class="col-md-4 form-group">
          <label>Around Abve Waist</label>
        </div>
        <div class="col-md-8 form-group">
          {{temp?.aroundAboveWaist}}
        </div>
        <div class="col-md-4 form-group">
            <label>Blouse Length</label>
          </div>
          <div class="col-md-8 form-group">
            {{temp?.blouseLength}}
          </div>
          <div class="col-md-4 form-group">
              <label>Front Neck Style</label>
            </div>
            <div class="col-md-8 form-group">
                <img [src]="temp.frontNeckStyle.imageName" style="width: 100px">
                {{temp.frontNeckStyle?.title}}
            </div>
            <div class="col-md-4 form-group">
                <label>Front Neck Depth</label>
              </div>
              <div class="col-md-8 form-group">
                {{temp?.frontNeckDepth}}
              </div>
              <div class="col-md-4 form-group">
                  <label>Back Neck Style</label>
                </div>
                <div class="col-md-8 form-group">
                    <img [src]="temp.backNeckStyle.imageName" style="width: 100px">
                    {{temp.backNeckStyle?.title}}
                </div>
                <div class="col-md-4 form-group">
                    <label>Back Neck Depth</label>
                  </div>
                  <div class="col-md-8 form-group">
                    {{temp?.backNeckDepth}}
                  </div>
                  <div class="col-md-4 form-group">
                      <label>Sleeve Style</label>
                    </div>
                    <div class="col-md-8 form-group">
                        <img [src]="temp.sleeveStyle.imageName" style="width: 100px">
                        {{temp.sleeveStyle?.title}}
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Sleeve Length</label>
                      </div>
                      <div class="col-md-8 form-group">
                        {{temp?.sleeveLength}}
                      </div>
                      <div class="col-md-4 form-group">
                          <label>Around Arm</label>
                        </div>
                        <div class="col-md-8 form-group">
                          {{temp?.aroundArm}}
                        </div>
                        <div class="col-md-4 form-group">
                            <label>Closing Side</label>
                          </div>
                          <div class="col-md-8 form-group">
                            {{temp?.closingSide}}
                          </div>
                          <div class="col-md-4 form-group">
                              <label>Closing With</label>
                            </div>
                            <div class="col-md-8 form-group">
                              {{temp?.closingWith}}
                            </div>
                            <div class="col-md-4 form-group">
                                <label>Line</label>
                              </div>
                              <div class="col-md-8 form-group">
                                {{temp?.lining}}
                              </div>
                              <div class="col-md-4 form-group">
                                  <label>Special Comments</label>
                                </div>
                                <div class="col-md-8 form-group">
                                  {{temp?.specialInstruction}}
                                </div>
                                
                                <div class="col-md-12 form-group">
                                    <button class="btn btn-primary" (click)="onChange()"> Back</button>
                                  <button class="btn btn-primary" (click)="onSave(measuName.value)"> save</button>
                                </div>
  </div>
  </div>
</form>
