<!-- <div class="container" [formGroup]="wishForm"
 *ngFor="let productAll of data?.wishListProduct"> 
  <div class="row"  *ngFor="let size of productAll.child; let i = index" [hidden]="!size.headChild">
    <div class="col-md-12">
      <div class="text-danger" [hidden]="!selectedSize">
        <p>Please select a size</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <img class="img-fluid" [src]="productAll.productImage[0].productImageName">
      </div>

    </div>
    <div class="col-md-4 p-3">
   
       <button mat-stroked-button type="button"    (click)="selectedWishSize(size, data)" 
    [ngClass]="{ 'itemSelected': size === selectedItem, 'sizeItem': size !== selectedItem,
    'itemEmptyStock': size.quantity === 0 }" *ngFor="let size of productAll?.child"
      [disabled]="size.quantity === 0" class=" btn btn-default">{{size.sizeVariant}}</button>

    </div>
    <div class="col-md-4 p-3">
      <div class="productAction text-center">
        <span class="addtoProduct"><span (click)="moveToBag(productAll._id, size)">Add To Bag</span></span>
      </div>
    </div>
  </div>
</div> -->

<div class="container" [formGroup]="wishForm" *ngFor="let productAll of data?.wishListProduct">
  <div class="row">
    <div class="col-md-11 col-11">

    </div>
    <div class="col-md-1 col-1">
      <button class="btn pull-right" [mat-dialog-close]="true" color="accent">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </div>
  <div class="row" *ngFor="let siz of productAll.child; let i = index" [hidden]="!siz.headChild">
    <div class="col-md-6">
      <div class="form-group">
        <img height="250" width="250" [src]="siz.productImage[0].productImageName">
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="productDetails">
            <h3 class="productName ">{{siz.productName}}</h3>
            <div class="productPriceBox">

              <p class="text-center textShape"><span
                  style="padding-left: 10px; font-size: 17px; color: #3B3B3B;font-family: 'Montserrat-Regular';">{{siz.price  | converter | localeCurrency  }}</span>
                <span [ngClass]="siz.discountStyle"
                  style="font-family: 'Montserrat-Regular'">{{siz.oldPrice  | converter | localeCurrency }}</span>
                <span [hidden]="siz.discount === 0 || siz.discount === undefined" class="pull-right offerText"
                  style="color: #666666; font-family: 'Montserrat-Regular'">{{siz.discount}} off</span></p>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="colorBox clearfix">
            <button mat-stroked-button type="button" (click)="selectedWishSize(size, data)" [ngClass]="{ 'itemSelected': size === selectedItem, 'sizeItem': size !== selectedItem,
             'itemEmptyStock': size.quantity === 0 }" *ngFor="let size of productAll?.child"
              [disabled]="size.quantity === 0" class=" btn btn-default">{{size.sizeVariant}}</button>
          </div>
        </div>
        <div class="col-md-12 p-3">
          <div class="productAction text-center">
            <span class="addtoProduct"><span (click)="moveToBag(productAll._id, siz)">Add To Bag</span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>