  <div class="container">
  <h5>Product Details:</h5>
  <table class="table table-borderless table-striped">
  <tbody *ngFor="let item of data">
    <tr>
    <td>
      {{item.name | titleCase | titlecase}} 
    </td>
    <td>
      {{item.value}}
    </td>
    </tr>
  </tbody>
  </table>
      

  </div>
